[2019-03-17 13:13] dtinth opened #1 "Master issue"
This issue represents the whole website development. (For [puzzles](https://www.yegor256.com/2010/03/04/pdd.html).)

[2019-03-17 13:23] 0pdd opened #2 "GlobalPanel.js:50: Extract data subscription part to..."
The puzzle `1-d27db1b0` from #1 has to be resolved:

https://github.com/codeforthailand/election-live/blob/2673e914d23a199f89449a155189668e1db9ee88/src/components/GlobalPanel.js#L50-L50

The puzzle was created by Thai on Cloud9 on 17-Mar-19.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when the problem is fixed and the text of the puzzle

[2019-03-17 13:23] 0pdd opened #3 "GlobalPanel.js:52: Model the types of score subscription."
The puzzle `1-b7da613f` from #1 has to be resolved:

https://github.com/codeforthailand/election-live/blob/2673e914d23a199f89449a155189668e1db9ee88/src/components/GlobalPanel.js#L52-L52

The puzzle was created by Thai on Cloud9 on 17-Mar-19.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when the problem is fixed and the text of the puzzle

[2019-03-17 13:23] 0pdd opened #4 "Implement responsive layout and navigation"
The puzzle `1-c7fae5f2` from #1 has to be resolved:

https://github.com/codeforthailand/election-live/blob/2673e914d23a199f89449a155189668e1db9ee88/src/components/layout.js#L6-L6

The puzzle was created by Thai on Cloud9 on 17-Mar-19.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when the problem is fixed and the text of the puzzle is _re

[2019-03-17 13:23] 0pdd opened #5 "Improve performance of `getProvinceById` to be O(1)."
The puzzle `1-e3647017` from #1 has to be resolved:

https://github.com/codeforthailand/election-live/blob/2673e914d23a199f89449a155189668e1db9ee88/src/data/information.js#L40-L41

The puzzle was created by Thai on Cloud9 on 17-Mar-19.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when the problem is fixed and the text of the puzzle is _r

[2019-03-17 13:23] 0pdd opened #6 "Improve performance of `getPartyById` to be O(1)"
The puzzle `1-2323ec8b` from #1 has to be resolved:

https://github.com/codeforthailand/election-live/blob/2673e914d23a199f89449a155189668e1db9ee88/src/data/information.js#L52-L53

The puzzle was created by Thai on Cloud9 on 17-Mar-19.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when the problem is fixed and the text of the puzzle is _r

[2019-03-17 13:23] 0pdd commented on #1
@dtinth 5 puzzles [#2](https://github.com/codeforthailand/election-live/issues/2), [#3](https://github.com/codeforthailand/election-live/issues/3), [#4](https://github.com/codeforthailand/election-live/issues/4), [#5](https://github.com/codeforthailand/election-live/issues/5), [#6](https://github.com/codeforthailand/election-live/issues/6) are still not solved.

[2019-03-17 13:37] 0pdd commented on #3
The puzzle `1-b7da613f` has disappeared from the source code, that's why I closed this issue.

[2019-03-17 13:37] #3 closed, assigned to nobody

[2019-03-17 13:37] 0pdd commented on #1
@dtinth 4 puzzles [#2](https://github.com/codeforthailand/election-live/issues/2), [#4](https://github.com/codeforthailand/election-live/issues/4), [#5](https://github.com/codeforthailand/election-live/issues/5), [#6](https://github.com/codeforthailand/election-live/issues/6) are still not solved; solved: [#3](https://github.com/codeforthailand/election-live/issues/3).

[2019-03-17 14:16] 0pdd commented on #2
The puzzle `1-d27db1b0` has disappeared from the source code, that's why I closed this issue.

[2019-03-17 14:16] #2 closed, assigned to nobody

[2019-03-17 14:16] 0pdd commented on #1
@dtinth 3 puzzles [#4](https://github.com/codeforthailand/election-live/issues/4), [#5](https://github.com/codeforthailand/election-live/issues/5), [#6](https://github.com/codeforthailand/election-live/issues/6) are still not solved; solved: [#2](https://github.com/codeforthailand/election-live/issues/2), [#3](https://github.com/codeforthailand/election-live/issues/3).

[2019-03-17 17:47] 0pdd opened #7 "Add Analytics, e.g. Google Analytics."
The puzzle `1-3e65a273` from #1 has to be resolved:

https://github.com/codeforthailand/election-live/blob/91c8813f60f6886525fb1b3db8707dde37bf2c59/gatsby-config.js#L12-L16

The puzzle was created by Thai Pangsakulyanont on 17-Mar-19.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when the problem is fixed and the text of the puzzle is _re

[2019-03-17 17:47] 0pdd opened #8 "Polish the footer"
The puzzle `1-7b7c8def` from #1 has to be resolved:

https://github.com/codeforthailand/election-live/blob/91c8813f60f6886525fb1b3db8707dde37bf2c59/src/components/Footer.js#L4-L4

The puzzle was created by Thai Pangsakulyanont on 17-Mar-19.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when the problem is fixed and the text of the puzzle

[2019-03-17 17:47] 0pdd opened #9 "Add default link style - Maybe make it a different color and remove the underline. - Make sure it is keyboard accessible."
The puzzle `1-f6b007b5` from #1 has to be resolved:

https://github.com/codeforthailand/election-live/blob/91c8813f60f6886525fb1b3db8707dde37bf2c59/src/styles/global.css#L12-L14

The puzzle was created by Thai Pangsakulyanont on 17-Mar-19.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when the problem is fixed and the text of the puzzle i

[2019-03-17 17:47] 0pdd commented on #1
@dtinth 6 puzzles [#4](https://github.com/codeforthailand/election-live/issues/4), [#5](https://github.com/codeforthailand/election-live/issues/5), [#6](https://github.com/codeforthailand/election-live/issues/6), [#7](https://github.com/codeforthailand/election-live/issues/7), [#8](https://github.com/codeforthailand/election-live/issues/8), [#9](https://github.com/codeforthailand/election-live/iss

[2019-03-17 17:57] 0pdd opened #10 "Add page title using Helmet (see: https://www.gatsbyjs.org/docs/add-page-metadata)"
The puzzle `1-6d4ecde9` from #1 has to be resolved:

https://github.com/codeforthailand/election-live/blob/aeca126985dc2a5223f8f0366d12825ecaf5a598/src/components/layout.js#L9-L10

The puzzle was created by Thai Pangsakulyanont on 17-Mar-19.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when the problem is fixed and the text of the puzzle

[2019-03-17 17:57] 0pdd commented on #1
@dtinth 7 puzzles [#10](https://github.com/codeforthailand/election-live/issues/10), [#4](https://github.com/codeforthailand/election-live/issues/4), [#5](https://github.com/codeforthailand/election-live/issues/5), [#6](https://github.com/codeforthailand/election-live/issues/6), [#7](https://github.com/codeforthailand/election-live/issues/7), [#8](https://github.com/codeforthailand/election-live/i

[2019-03-17 17:59] 0pdd opened #11 "Add PWA manifest file using gatsby-plugin-manifest. (see: https://www.gatsbyjs.org/docs/add-a-manifest-file/)"
The puzzle `1-9f3e7e67` from #1 has to be resolved:

https://github.com/codeforthailand/election-live/blob/52d8590c6a770be88969d210a0c4fe2974919906/gatsby-config.js#L19-L20

The puzzle was created by Thai Pangsakulyanont on 17-Mar-19.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when the problem is fixed and the text of the puzzle is _re

[2019-03-17 17:59] 0pdd commented on #1
@dtinth 8 puzzles [#10](https://github.com/codeforthailand/election-live/issues/10), [#11](https://github.com/codeforthailand/election-live/issues/11), [#4](https://github.com/codeforthailand/election-live/issues/4), [#5](https://github.com/codeforthailand/election-live/issues/5), [#6](https://github.com/codeforthailand/election-live/issues/6), [#7](https://github.com/codeforthailand/election-live

[2019-03-17 18:33] 0pdd opened #12 "Implement <PartyStatsRow /> component"
The puzzle `1-bf73ac08` from #1 has to be resolved:

https://github.com/codeforthailand/election-live/blob/3d74d66e1b0ac906d99607af8c1fbaa5ecab18b7/src/components/KitchenSink.js#L16-L16

The puzzle was created by Thai Pangsakulyanont on 17-Mar-19.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when the problem is fixed and the text of the

[2019-03-17 18:33] 0pdd commented on #1
@dtinth 9 puzzles [#10](https://github.com/codeforthailand/election-live/issues/10), [#11](https://github.com/codeforthailand/election-live/issues/11), [#12](https://github.com/codeforthailand/election-live/issues/12), [#4](https://github.com/codeforthailand/election-live/issues/4), [#5](https://github.com/codeforthailand/election-live/issues/5), [#6](https://github.com/codeforthailand/election-li

[2019-03-17 18:36] dtinth commented on #12
(from invision)

<img width="1109" alt="image" src="https://user-images.githubusercontent.com/193136/54496120-45c69700-491e-11e9-9580-ea27807988a2.png">

[2019-03-17 18:53] 0pdd commented on #12
The puzzle `1-bf73ac08` has disappeared from the source code, that's why I closed this issue.

[2019-03-17 18:53] #12 closed, assigned to nobody

[2019-03-17 18:53] 0pdd opened #13 "Make <PartyStatsRow /> accept props and display values based on props."
The puzzle `12-e8edc4cf` from #12 has to be resolved:

https://github.com/codeforthailand/election-live/blob/735f786d921d7385dfa2d157c672ad91f76fc8cb/src/components/PartyStatsRow.js#L3-L3

The puzzle was created by Thai Pangsakulyanont on 17-Mar-19.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when the problem is fixed and the text of th

[2019-03-17 18:53] 0pdd opened #14 "Adjust <PartyStatsRow /> styling according to design."
The puzzle `12-6a75db9b` from #12 has to be resolved:

https://github.com/codeforthailand/election-live/blob/735f786d921d7385dfa2d157c672ad91f76fc8cb/src/components/PartyStatsRow.js#L5-L5

The puzzle was created by Thai Pangsakulyanont on 17-Mar-19.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when the problem is fixed and the text of th

[2019-03-17 18:53] 0pdd commented on #1
@dtinth 10 puzzles [#10](https://github.com/codeforthailand/election-live/issues/10), [#11](https://github.com/codeforthailand/election-live/issues/11), [#13](https://github.com/codeforthailand/election-live/issues/13), [#14](https://github.com/codeforthailand/election-live/issues/14), [#4](https://github.com/codeforthailand/election-live/issues/4), [#5](https://github.com/codeforthailand/election

[2019-03-17 18:53] 0pdd commented on #12
@0pdd 2 puzzles [#13](https://github.com/codeforthailand/election-live/issues/13), [#14](https://github.com/codeforthailand/election-live/issues/14) are still not solved.

[2019-03-17 19:02] 0pdd commented on #14
The puzzle `12-6a75db9b` has disappeared from the source code, that's why I closed this issue.

[2019-03-17 19:02] #14 closed, assigned to nobody

[2019-03-17 19:03] 0pdd opened #15 "Implement score bar in <PartyStatsRow />."
The puzzle `14-ae470d0d` from #14 has to be resolved:

https://github.com/codeforthailand/election-live/blob/d088ede37d2eeab0939312e07e59267158e81345/src/components/PartyStatsRow.js#L6-L6

The puzzle was created by Thai Pangsakulyanont on 17-Mar-19.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when the problem is fixed and the text of th

[2019-03-17 19:03] 0pdd commented on #1
@dtinth 10 puzzles [#10](https://github.com/codeforthailand/election-live/issues/10), [#11](https://github.com/codeforthailand/election-live/issues/11), [#13](https://github.com/codeforthailand/election-live/issues/13), [#15](https://github.com/codeforthailand/election-live/issues/15), [#4](https://github.com/codeforthailand/election-live/issues/4), [#5](https://github.com/codeforthailand/election

[2019-03-17 19:03] 0pdd commented on #12
@0pdd 2 puzzles [#13](https://github.com/codeforthailand/election-live/issues/13), [#15](https://github.com/codeforthailand/election-live/issues/15) are still not solved; solved: [#14](https://github.com/codeforthailand/election-live/issues/14).

[2019-03-17 19:03] 0pdd commented on #14
@0pdd the puzzle [#15](https://github.com/codeforthailand/election-live/issues/15) is still not solved.

[2019-03-17 19:10] 0pdd opened #16 "Implement <CandidateStatsRow /> component This component displays how many votes a candidate has received."
The puzzle `1-db2b4d14` from #1 has to be resolved:

https://github.com/codeforthailand/election-live/blob/82cfcc413f4b85562d579e63e57093743a75bc07/src/components/CandidateStatsRow.js#L4-L5

The puzzle was created by Thai Pangsakulyanont on 17-Mar-19.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when the problem is fixed and the text of

[2019-03-17 19:10] 0pdd commented on #1
@dtinth 11 puzzles [#10](https://github.com/codeforthailand/election-live/issues/10), [#11](https://github.com/codeforthailand/election-live/issues/11), [#13](https://github.com/codeforthailand/election-live/issues/13), [#15](https://github.com/codeforthailand/election-live/issues/15), [#16](https://github.com/codeforthailand/election-live/issues/16), [#4](https://github.com/codeforthailand/electi

[2019-03-17 19:10] dtinth commented on #16
(From InVision)

<img width="693" alt="image" src="https://user-images.githubusercontent.com/193136/54496535-ffc00200-4922-11e9-8a97-2fa4875494fa.png">

[2019-03-18 14:11] 0pdd opened #17 "Add content about where we got the data from"
The puzzle `1-b9478345` from #1 has to be resolved:

https://github.com/codeforthailand/election-live/blob/216b31feb25ab37e8ac262064610e926eb73b4ec/src/pages/source.js#L4-L4

The puzzle was created by Thai Pangsakulyanont on 18-Mar-19.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when the problem is fixed and the text of the puzzle is _r

[2019-03-18 14:11] 0pdd commented on #1
@dtinth 12 puzzles [#10](https://github.com/codeforthailand/election-live/issues/10), [#11](https://github.com/codeforthailand/election-live/issues/11), [#13](https://github.com/codeforthailand/election-live/issues/13), [#15](https://github.com/codeforthailand/election-live/issues/15), [#16](https://github.com/codeforthailand/election-live/issues/16), [#17](https://github.com/codeforthailand/elect

[2019-03-18 16:20] dtinth opened #18 "Electoral district filtering"
![image](https://user-images.githubusercontent.com/193136/54545541-72d58100-49d4-11e9-93f8-4bb9988ca6ea.png)

[2019-03-18 16:23] 0pdd opened #19 "Implement filtering code for เขตพื้นที่ในเมือง"
The puzzle `18-fe5a555b` from #18 has to be resolved:

https://github.com/codeforthailand/election-live/blob/2f61ae06c11b88bb05b732b4e826e8a3210f275b/src/models/information/_filters.js#L43-L43

The puzzle was created by Thai Pangsakulyanont on 18-Mar-19.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when the problem is fixed and the text

[2019-03-18 16:23] 0pdd opened #20 "Implement filtering code for เขตพื้นที่นอกเมือง"
The puzzle `18-95187052` from #18 has to be resolved:

https://github.com/codeforthailand/election-live/blob/2f61ae06c11b88bb05b732b4e826e8a3210f275b/src/models/information/_filters.js#L51-L51

The puzzle was created by Thai Pangsakulyanont on 18-Mar-19.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when the problem is fixed and the text

[2019-03-18 16:23] 0pdd opened #21 "Implement filtering code for Gerrymandering"
The puzzle `18-c7f367f1` from #18 has to be resolved:

https://github.com/codeforthailand/election-live/blob/2f61ae06c11b88bb05b732b4e826e8a3210f275b/src/models/information/_filters.js#L59-L59

The puzzle was created by Thai Pangsakulyanont on 18-Mar-19.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when the problem is fixed and the text

[2019-03-18 16:23] 0pdd opened #22 "Implement filtering code for Swing District"
The puzzle `18-3c00c6fa` from #18 has to be resolved:

https://github.com/codeforthailand/election-live/blob/2f61ae06c11b88bb05b732b4e826e8a3210f275b/src/models/information/_filters.js#L67-L67

The puzzle was created by Thai Pangsakulyanont on 18-Mar-19.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when the problem is fixed and the text

[2019-03-18 16:23] 0pdd commented on #18
@dtinth 4 puzzles [#19](https://github.com/codeforthailand/election-live/issues/19), [#20](https://github.com/codeforthailand/election-live/issues/20), [#21](https://github.com/codeforthailand/election-live/issues/21), [#22](https://github.com/codeforthailand/election-live/issues/22) are still not solved.

[2019-03-18 17:14] 0pdd opened #23 "How do we determine when vote counting for a certain zone is finished? The problem is, we don’t know beforehand how many ballots we received. And it also seems like the official API doesn’t provide..."
The puzzle `1-2a60074f` from #1 has to be resolved:

https://github.com/codeforthailand/election-live/blob/8d6a1a203b71389eabd2d8cb01cfc2084305b088/src/models/datasource.d.ts#L62-L67

The puzzle was created by Thai Pangsakulyanont on 18-Mar-19.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when the problem is fixed and the text of the puz

[2019-03-18 17:14] 0pdd opened #24 "Define JSON data format for each province. This data should contain necessary information to display - Per-zone summary"
The puzzle `1-72b33c4d` from #1 has to be resolved:

https://github.com/codeforthailand/election-live/blob/8d6a1a203b71389eabd2d8cb01cfc2084305b088/src/models/datasource.d.ts#L89-L91

The puzzle was created by Thai Pangsakulyanont on 18-Mar-19.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when the problem is fixed and the text of the puz

[2019-03-18 17:14] 0pdd commented on #1
@dtinth 14 puzzles [#10](https://github.com/codeforthailand/election-live/issues/10), [#11](https://github.com/codeforthailand/election-live/issues/11), [#13](https://github.com/codeforthailand/election-live/issues/13), [#15](https://github.com/codeforthailand/election-live/issues/15), [#16](https://github.com/codeforthailand/election-live/issues/16), [#17](https://github.com/codeforthailand/elect

[2019-03-18 17:53] #24 closed, assigned to nobody

[2019-03-18 17:53] 0pdd commented on #24
The puzzle `1-72b33c4d` has disappeared from the source code, that's why I closed this issue.

[2019-03-18 17:53] 0pdd commented on #1
@dtinth 13 puzzles [#10](https://github.com/codeforthailand/election-live/issues/10), [#11](https://github.com/codeforthailand/election-live/issues/11), [#13](https://github.com/codeforthailand/election-live/issues/13), [#15](https://github.com/codeforthailand/election-live/issues/15), [#16](https://github.com/codeforthailand/election-live/issues/16), [#17](https://github.com/codeforthailand/elect

[2019-03-18 19:03] 0pdd opened #25 "implement <PartyStatsList> for <PartyStatsrow /> ."
The puzzle `24-9f7f924e` from #24 has to be resolved:

https://github.com/codeforthailand/election-live/blob/4a145615f2342cd3f2875cc06f88a385a275b53c/src/components/KitchenSink.js#L5-L5

The puzzle was created by dodadoa on 18-Mar-19.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when the problem is fixed and the text of the puzzle is _re

[2019-03-18 19:03] 0pdd commented on #1
@dtinth 14 puzzles [#10](https://github.com/codeforthailand/election-live/issues/10), [#11](https://github.com/codeforthailand/election-live/issues/11), [#13](https://github.com/codeforthailand/election-live/issues/13), [#15](https://github.com/codeforthailand/election-live/issues/15), [#16](https://github.com/codeforthailand/election-live/issues/16), [#17](https://github.com/codeforthailand/elect

[2019-03-18 19:03] 0pdd commented on #24
@0pdd the puzzle [#25](https://github.com/codeforthailand/election-live/issues/25) is still not solved.

[2019-03-18 19:46] #13 closed, assigned to nobody

[2019-03-18 19:46] 0pdd commented on #13
The puzzle `12-e8edc4cf` has disappeared from the source code, that's why I closed this issue.

[2019-03-18 19:46] 0pdd commented on #15
The puzzle `14-ae470d0d` has disappeared from the source code, that's why I closed this issue.

[2019-03-18 19:46] #15 closed, assigned to nobody

[2019-03-18 19:46] 0pdd opened #26 "[UI] Implement <Loading /> component"
The puzzle `1-4ee38d3c` from #1 has to be resolved:

https://github.com/codeforthailand/election-live/blob/32979001c550962547c83ba502a8b475c9434997/src/components/NationwideSummaryView.js#L12-L12

The puzzle was created by Thai Pangsakulyanont on 18-Mar-19.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when the problem is fixed and the te

[2019-03-18 19:46] 0pdd commented on #1
@dtinth 13 puzzles [#10](https://github.com/codeforthailand/election-live/issues/10), [#11](https://github.com/codeforthailand/election-live/issues/11), [#16](https://github.com/codeforthailand/election-live/issues/16), [#17](https://github.com/codeforthailand/election-live/issues/17), [#23](https://github.com/codeforthailand/election-live/issues/23), [#25](https://github.com/codeforthailand/elect

[2019-03-18 19:46] 0pdd commented on #12
@0pdd all 3 puzzles are solved here: [#13](https://github.com/codeforthailand/election-live/issues/13), [#14](https://github.com/codeforthailand/election-live/issues/14), [#15](https://github.com/codeforthailand/election-live/issues/15).

[2019-03-18 19:46] 0pdd commented on #14
@0pdd the only puzzle [#15](https://github.com/codeforthailand/election-live/issues/15) is solved here.

[2019-03-18 20:07] 0pdd commented on #25
The puzzle `24-9f7f924e` has disappeared from the source code, that's why I closed this issue.

[2019-03-18 20:07] #25 closed, assigned to nobody

[2019-03-18 20:07] 0pdd commented on #1
@dtinth 12 puzzles [#10](https://github.com/codeforthailand/election-live/issues/10), [#11](https://github.com/codeforthailand/election-live/issues/11), [#16](https://github.com/codeforthailand/election-live/issues/16), [#17](https://github.com/codeforthailand/election-live/issues/17), [#23](https://github.com/codeforthailand/election-live/issues/23), [#26](https://github.com/codeforthailand/elect

[2019-03-18 20:07] 0pdd commented on #24
@0pdd the only puzzle [#25](https://github.com/codeforthailand/election-live/issues/25) is solved here.

[2019-03-18 20:11] 0pdd opened #27 "Add gatsby-plugin-layout to prevent the whole layout from unmounting every time. (see: https://www.gatsbyjs.org/docs/layout-components/#how-to-prevent-layout-components-from-unmounting)"
The puzzle `1-0da576fa` from #1 has to be resolved:

https://github.com/codeforthailand/election-live/blob/294baa8d7c971abe97d84426300c5b27b9b43e3e/src/components/PageLayout.js#L12-L13

The puzzle was created by Thai Pangsakulyanont on 18-Mar-19.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when the problem is fixed and the text of the p

[2019-03-18 20:11] 0pdd opened #28 "Add a representative color to each party. Uncomment the following code once a property "color" is added to every party in `information/_parties.json`. color: string"
The puzzle `1-f489eb0c` from #1 has to be resolved:

https://github.com/codeforthailand/election-live/blob/294baa8d7c971abe97d84426300c5b27b9b43e3e/src/models/definition.d.ts#L11-L14

The puzzle was created by Thai Pangsakulyanont on 18-Mar-19.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when the problem is fixed and the text of the puz

[2019-03-18 20:11] 0pdd commented on #1
@dtinth 14 puzzles [#10](https://github.com/codeforthailand/election-live/issues/10), [#11](https://github.com/codeforthailand/election-live/issues/11), [#16](https://github.com/codeforthailand/election-live/issues/16), [#17](https://github.com/codeforthailand/election-live/issues/17), [#23](https://github.com/codeforthailand/election-live/issues/23), [#26](https://github.com/codeforthailand/elect

[2019-03-18 20:12] 0pdd opened #29 "Adjust NavBar style according to latest design (desktop)."
The puzzle `1-daf3173f` from #1 has to be resolved:

https://github.com/codeforthailand/election-live/blob/02bf204e19a1ae84981e7dc82d7e685257fb3f45/src/components/NavBar.js#L6-L6

The puzzle was created by Thai Pangsakulyanont on 18-Mar-19.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when the problem is fixed and the text of the puzzle

[2019-03-18 20:12] 0pdd commented on #1
@dtinth 15 puzzles [#10](https://github.com/codeforthailand/election-live/issues/10), [#11](https://github.com/codeforthailand/election-live/issues/11), [#16](https://github.com/codeforthailand/election-live/issues/16), [#17](https://github.com/codeforthailand/election-live/issues/17), [#23](https://github.com/codeforthailand/election-live/issues/23), [#26](https://github.com/codeforthailand/elect

[2019-03-18 20:13] dtinth commented on #29
New NavBar style looks like this:

![image](https://user-images.githubusercontent.com/193136/54560459-fd2ddd00-49f4-11e9-9df6-f4916113384f.png)

[2019-03-19 04:44] #27 closed, assigned to nobody

[2019-03-19 04:44] 0pdd commented on #27
The puzzle `1-0da576fa` has disappeared from the source code, that's why I closed this issue.

[2019-03-19 04:44] 0pdd commented on #1
@dtinth 14 puzzles [#10](https://github.com/codeforthailand/election-live/issues/10), [#11](https://github.com/codeforthailand/election-live/issues/11), [#16](https://github.com/codeforthailand/election-live/issues/16), [#17](https://github.com/codeforthailand/election-live/issues/17), [#23](https://github.com/codeforthailand/election-live/issues/23), [#26](https://github.com/codeforthailand/elect

[2019-03-19 05:18] dtinth opened #30 "Election Map"
<img width="396" alt="image" src="https://user-images.githubusercontent.com/193136/54581884-27a58780-4a41-11e9-8521-4f3f329d4c09.png">

[2019-03-19 05:26] 0pdd opened #31 "Declare the required props for Election Map."
The puzzle `30-19a372c6` from #30 has to be resolved:

https://github.com/codeforthailand/election-live/blob/8f936f7ad7fa3518499aecc394ebb12d72e845ba/src/components/ElectionMap.js#L4-L4

The puzzle was created by Thai Pangsakulyanont on 19-Mar-19.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when the problem is fixed and the text of the

[2019-03-19 05:26] 0pdd commented on #30
@dtinth the puzzle [#31](https://github.com/codeforthailand/election-live/issues/31) is still not solved.

[2019-03-19 13:16] 0pdd opened #32 "Add `gatsby-plugin-netlify` for Netlify headers. (see: https://www.gatsbyjs.org/packages/gatsby-plugin-netlify/)"
The puzzle `1-b9804e60` from #1 has to be resolved:

https://github.com/codeforthailand/election-live/blob/12cc5ec75942427a48303dacff7356b138bc3970/gatsby-config.js#L32-L33

The puzzle was created by Thai Pangsakulyanont on 19-Mar-19.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when the problem is fixed and the text of the puzzle is _re

[2019-03-19 13:16] 0pdd opened #33 "Add `gatsby-plugin-htaccess` for deployment to Apache-based server. (see: https://www.gatsbyjs.org/packages/gatsby-plugin-htaccess/)"
The puzzle `1-fb05d954` from #1 has to be resolved:

https://github.com/codeforthailand/election-live/blob/12cc5ec75942427a48303dacff7356b138bc3970/gatsby-config.js#L35-L36

The puzzle was created by Thai Pangsakulyanont on 19-Mar-19.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when the problem is fixed and the text of the puzzle is _re

[2019-03-19 13:17] 0pdd opened #34 "Setup deployment to live environment."
The puzzle `1-f7fafd1b` from #1 has to be resolved:

https://github.com/codeforthailand/election-live/blob/12cc5ec75942427a48303dacff7356b138bc3970/.circleci/config.yml#L42-L42

The puzzle was created by Thai Pangsakulyanont on 19-Mar-19.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when the problem is fixed and the text of the puzzle is

[2019-03-19 13:17] 0pdd commented on #1
@dtinth 17 puzzles [#10](https://github.com/codeforthailand/election-live/issues/10), [#11](https://github.com/codeforthailand/election-live/issues/11), [#16](https://github.com/codeforthailand/election-live/issues/16), [#17](https://github.com/codeforthailand/election-live/issues/17), [#23](https://github.com/codeforthailand/election-live/issues/23), [#26](https://github.com/codeforthailand/elect

[2019-03-19 13:21] dodadoa commented on #34
yay

[2019-03-19 13:45] #29 closed, assigned to nobody

[2019-03-19 13:45] 0pdd commented on #29
The puzzle `1-daf3173f` has disappeared from the source code, that's why I closed this issue.

[2019-03-19 13:45] 0pdd commented on #1
@dtinth 16 puzzles [#10](https://github.com/codeforthailand/election-live/issues/10), [#11](https://github.com/codeforthailand/election-live/issues/11), [#16](https://github.com/codeforthailand/election-live/issues/16), [#17](https://github.com/codeforthailand/election-live/issues/17), [#23](https://github.com/codeforthailand/election-live/issues/23), [#26](https://github.com/codeforthailand/elect

[2019-03-19 13:50] dtinth commented on #16
This one is low priority na

[2019-03-19 15:37] 0pdd opened #35 "Add kitchen sink for CompactScoreBar"
The puzzle `1-137b9003` from #1 has to be resolved:

https://github.com/codeforthailand/election-live/blob/07762ca9a76792d7a6a37b927c0ac6c676f7dc34/src/pages/dev/kitchen-sink.js#L9-L9

The puzzle was created by Thai Pangsakulyanont on 19-Mar-19.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when the problem is fixed and the text of the pu

[2019-03-19 15:37] 0pdd opened #36 "Add kitchen sink for DesktopScoreBar"
The puzzle `1-649b950e` from #1 has to be resolved:

https://github.com/codeforthailand/election-live/blob/07762ca9a76792d7a6a37b927c0ac6c676f7dc34/src/pages/dev/kitchen-sink.js#L11-L11

The puzzle was created by Thai Pangsakulyanont on 19-Mar-19.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when the problem is fixed and the text of the

[2019-03-19 15:37] 0pdd opened #37 "Implement Hamburger menu according to design."
The puzzle `1-804aa44c` from #1 has to be resolved:

https://github.com/codeforthailand/election-live/blob/07762ca9a76792d7a6a37b927c0ac6c676f7dc34/src/components/MainLayout.js#L99-L99

The puzzle was created by Thai Pangsakulyanont on 19-Mar-19.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when the problem is fixed and the text of the p

[2019-03-19 15:37] 0pdd opened #38 "Design props for CompactScoreBar"
The puzzle `1-da0e8e1c` from #1 has to be resolved:

https://github.com/codeforthailand/election-live/blob/07762ca9a76792d7a6a37b927c0ac6c676f7dc34/src/components/CompactScoreBar.js#L4-L4

The puzzle was created by Thai Pangsakulyanont on 19-Mar-19.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when the problem is fixed and the text of th

[2019-03-19 15:37] 0pdd opened #39 "Implement Compact Score Bar according to design"
The puzzle `1-1c865966` from #1 has to be resolved:

https://github.com/codeforthailand/election-live/blob/07762ca9a76792d7a6a37b927c0ac6c676f7dc34/src/components/CompactScoreBar.js#L6-L6

The puzzle was created by Thai Pangsakulyanont on 19-Mar-19.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when the problem is fixed and the text of th

[2019-03-19 15:37] 0pdd opened #40 "Setup CircleCI to obtain lighthouse report. This can be done by these steps: (1) Run `yarn build` to generate a built bundle (2) Start a temporary web server. (3) Run lighthouse CLI to obtain..."
The puzzle `1-5d825f1e` from #1 has to be resolved:

https://github.com/codeforthailand/election-live/blob/07762ca9a76792d7a6a37b927c0ac6c676f7dc34/.circleci/config.yml#L44-L49

The puzzle was created by Thai Pangsakulyanont on 19-Mar-19.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when the problem is fixed and the text of the puzzle is

[2019-03-19 15:37] 0pdd commented on #1
@dtinth 22 puzzles [#10](https://github.com/codeforthailand/election-live/issues/10), [#11](https://github.com/codeforthailand/election-live/issues/11), [#16](https://github.com/codeforthailand/election-live/issues/16), [#17](https://github.com/codeforthailand/election-live/issues/17), [#23](https://github.com/codeforthailand/election-live/issues/23), [#26](https://github.com/codeforthailand/elect

[2019-03-19 16:05] dtinth commented on #37
Right now it looks like this:

![image](https://user-images.githubusercontent.com/193136/54659044-de1d7100-4b02-11e9-8d6c-8a6606531fc6.png)

Design:

![image](https://user-images.githubusercontent.com/193136/54659079-0b6a1f00-4b03-11e9-828e-fffcab04785e.png)

[2019-03-19 16:15] dtinth commented on #39
From design:

![Artboard](https://user-images.githubusercontent.com/193136/54622812-daef9a00-4a9c-11e9-87c6-6f19a5b66ef9.png)

[2019-03-19 16:39] 0pdd opened #41 "Polish design of NationwideSummaryHeader according to the design."
The puzzle `1-675aeca2` from #1 has to be resolved:

https://github.com/codeforthailand/election-live/blob/49db4a1ab89be3171859bedde181a65f5e785e2b/src/components/NationwideSummaryView.js#L36-L36

The puzzle was created by Thai Pangsakulyanont on 19-Mar-19.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when the problem is fixed and the te

[2019-03-19 16:39] 0pdd commented on #1
@dtinth 23 puzzles [#10](https://github.com/codeforthailand/election-live/issues/10), [#11](https://github.com/codeforthailand/election-live/issues/11), [#16](https://github.com/codeforthailand/election-live/issues/16), [#17](https://github.com/codeforthailand/election-live/issues/17), [#23](https://github.com/codeforthailand/election-live/issues/23), [#26](https://github.com/codeforthailand/elect

[2019-03-19 16:40] dtinth commented on #41
![Artboard](https://user-images.githubusercontent.com/193136/54624630-53a42580-4aa0-11e9-8595-0fc954a03814.png)

[2019-03-19 17:11] dtinth opened #42 "Implement ZoneMasterView"
![image](https://user-images.githubusercontent.com/193136/54626841-a089fb00-4aa4-11e9-9b93-ab53c97aee16.png)

[2019-03-19 17:39] 0pdd opened #43 "Height and margins for mobile zone filter and search?"
The puzzle `42-f3f6d36f` from #42 has to be resolved:

https://github.com/codeforthailand/election-live/blob/97f3b92304b364b33f3a61e84078b0d45e638bae/src/components/ZoneMasterView.js#L98-L98

The puzzle was created by Thai Pangsakulyanont on 19-Mar-19.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when the problem is fixed and the text of

[2019-03-19 17:39] 0pdd opened #44 "Render mobile tabs"
The puzzle `42-2ed2acf4` from #42 has to be resolved:

https://github.com/codeforthailand/election-live/blob/97f3b92304b364b33f3a61e84078b0d45e638bae/src/components/ZoneMasterView.js#L112-L112

The puzzle was created by Thai Pangsakulyanont on 19-Mar-19.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when the problem is fixed and the text

[2019-03-19 17:39] 0pdd commented on #42
@dtinth 2 puzzles [#43](https://github.com/codeforthailand/election-live/issues/43), [#44](https://github.com/codeforthailand/election-live/issues/44) are still not solved.

[2019-03-19 18:40] 0pdd commented on #28
The puzzle `1-f489eb0c` has disappeared from the source code, that's why I closed this issue.

[2019-03-19 18:40] #28 closed, assigned to nobody

[2019-03-19 18:40] 0pdd commented on #1
@dtinth 22 puzzles [#10](https://github.com/codeforthailand/election-live/issues/10), [#11](https://github.com/codeforthailand/election-live/issues/11), [#16](https://github.com/codeforthailand/election-live/issues/16), [#17](https://github.com/codeforthailand/election-live/issues/17), [#23](https://github.com/codeforthailand/election-live/issues/23), [#26](https://github.com/codeforthailand/elect

[2019-03-19 19:20] dodadoa commented on #16
okie I see

[2019-03-19 19:21] #36 closed, assigned to nobody

[2019-03-19 19:21] 0pdd commented on #36
The puzzle `1-649b950e` has disappeared from the source code, that's why I closed this issue.

[2019-03-19 19:21] 0pdd commented on #1
@dtinth 21 puzzles [#10](https://github.com/codeforthailand/election-live/issues/10), [#11](https://github.com/codeforthailand/election-live/issues/11), [#16](https://github.com/codeforthailand/election-live/issues/16), [#17](https://github.com/codeforthailand/election-live/issues/17), [#23](https://github.com/codeforthailand/election-live/issues/23), [#26](https://github.com/codeforthailand/elect

[2019-03-19 19:50] dtinth commented on #30
@rapee @Director99

You can decide the name and the structures for props you want to use na krub. The general idea is that the component decides the shape of the props that’s necessary to display all data. This is the “presentational component”.

Then we can create a “container component” to bridge the component to the data source.

See this article for more info: [Presentational and Container Com

[2019-03-19 20:26] #4 closed, assigned to nobody

[2019-03-19 20:26] 0pdd commented on #4
The puzzle `1-c7fae5f2` has disappeared from the source code, that's why I closed this issue.

[2019-03-19 20:26] 0pdd commented on #1
@dtinth 20 puzzles [#10](https://github.com/codeforthailand/election-live/issues/10), [#11](https://github.com/codeforthailand/election-live/issues/11), [#16](https://github.com/codeforthailand/election-live/issues/16), [#17](https://github.com/codeforthailand/election-live/issues/17), [#23](https://github.com/codeforthailand/election-live/issues/23), [#26](https://github.com/codeforthailand/elect

[2019-03-20 04:15] 0pdd commented on #5
The puzzle `1-e3647017` has disappeared from the source code, that's why I closed this issue.

[2019-03-20 04:15] #5 closed, assigned to nobody

[2019-03-20 04:15] 0pdd commented on #6
The puzzle `1-2323ec8b` has disappeared from the source code, that's why I closed this issue.

[2019-03-20 04:15] #6 closed, assigned to nobody

[2019-03-20 04:15] 0pdd commented on #1
@dtinth 18 puzzles [#10](https://github.com/codeforthailand/election-live/issues/10), [#11](https://github.com/codeforthailand/election-live/issues/11), [#16](https://github.com/codeforthailand/election-live/issues/16), [#17](https://github.com/codeforthailand/election-live/issues/17), [#23](https://github.com/codeforthailand/election-live/issues/23), [#26](https://github.com/codeforthailand/elect

[2019-03-20 04:20] #10 closed, assigned to nobody

[2019-03-20 04:20] 0pdd commented on #10
The puzzle `1-6d4ecde9` has disappeared from the source code, that's why I closed this issue.

[2019-03-20 04:20] 0pdd commented on #1
@dtinth 17 puzzles [#11](https://github.com/codeforthailand/election-live/issues/11), [#16](https://github.com/codeforthailand/election-live/issues/16), [#17](https://github.com/codeforthailand/election-live/issues/17), [#23](https://github.com/codeforthailand/election-live/issues/23), [#26](https://github.com/codeforthailand/election-live/issues/26), [#32](https://github.com/codeforthailand/elect

[2019-03-20 04:22] dtinth commented on #7
1. Google Analytics, Facebook Pixel, Google Tag Manager or something else?

2. Which GA account / tracking code should we use?

[2019-03-20 05:05] #34 closed, assigned to nobody

[2019-03-20 05:05] 0pdd commented on #34
The puzzle `1-f7fafd1b` has disappeared from the source code, that's why I closed this issue.

[2019-03-20 05:05] 0pdd commented on #1
@dtinth 16 puzzles [#11](https://github.com/codeforthailand/election-live/issues/11), [#16](https://github.com/codeforthailand/election-live/issues/16), [#17](https://github.com/codeforthailand/election-live/issues/17), [#23](https://github.com/codeforthailand/election-live/issues/23), [#26](https://github.com/codeforthailand/election-live/issues/26), [#32](https://github.com/codeforthailand/elect

[2019-03-20 05:13] #33 closed, assigned to nobody

[2019-03-20 05:13] 0pdd commented on #33
The puzzle `1-fb05d954` has disappeared from the source code, that's why I closed this issue.

[2019-03-20 05:13] 0pdd commented on #1
@dtinth 15 puzzles [#11](https://github.com/codeforthailand/election-live/issues/11), [#16](https://github.com/codeforthailand/election-live/issues/16), [#17](https://github.com/codeforthailand/election-live/issues/17), [#23](https://github.com/codeforthailand/election-live/issues/23), [#26](https://github.com/codeforthailand/election-live/issues/26), [#32](https://github.com/codeforthailand/elect

[2019-03-20 05:48] #44 closed, assigned to nobody

[2019-03-20 05:48] 0pdd commented on #44
The puzzle `42-2ed2acf4` has disappeared from the source code, that's why I closed this issue.

[2019-03-20 05:48] 0pdd opened #48 "Replace hardcoded mock data in DesktopScoreBarContainer with subscription to data model."
The puzzle `1-e7d3ea86` from #1 has to be resolved:

https://github.com/codeforthailand/election-live/blob/843128114e9e7345e8a2d3156089c89d841bb352/src/components/DesktopScoreBarContainer.js#L6-L7

The puzzle was created by Thai Pangsakulyanont on 20-Mar-19.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when the problem is fixed and the t

[2019-03-20 05:48] 0pdd opened #49 "Create a 1st version of ZoneSearchField component in place of the Placeholder. May be a dummy component."
The puzzle `1-a2cb78b6` from #1 has to be resolved:

https://github.com/codeforthailand/election-live/blob/843128114e9e7345e8a2d3156089c89d841bb352/src/components/ZoneMasterView.js#L74-L75

The puzzle was created by Thai Pangsakulyanont on 20-Mar-19.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when the problem is fixed and the text of t

[2019-03-20 05:48] 0pdd opened #50 "Create a 1st version of ZoneFilterPanel component in place of the Placeholder. May be a dummy component."
The puzzle `1-13da9db6` from #1 has to be resolved:

https://github.com/codeforthailand/election-live/blob/843128114e9e7345e8a2d3156089c89d841bb352/src/components/ZoneMasterView.js#L81-L82

The puzzle was created by Thai Pangsakulyanont on 20-Mar-19.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when the problem is fixed and the text of t

[2019-03-20 05:48] 0pdd opened #51 "Implement the first version of mobile tabs May be a dummy component that looks like the real one."
The puzzle `42-9a011cc1` from #42 has to be resolved:

https://github.com/codeforthailand/election-live/blob/843128114e9e7345e8a2d3156089c89d841bb352/src/components/ZoneMasterView.js#L126-L127

The puzzle was created by Thai Pangsakulyanont on 20-Mar-19.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when the problem is fixed and the text

[2019-03-20 05:48] 0pdd opened #52 "Replace mock data in NationwideSummaryHeaderContainer with subscription to the Data Model."
The puzzle `1-e93337f7` from #1 has to be resolved:

https://github.com/codeforthailand/election-live/blob/843128114e9e7345e8a2d3156089c89d841bb352/src/pages/index.js#L19-L20

The puzzle was created by Thai Pangsakulyanont on 20-Mar-19.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when the problem is fixed and the text of the puzzle is _

[2019-03-20 05:48] 0pdd opened #53 "Replace mock data in PartyStatsContainer with subscription to the Data Model."
The puzzle `1-a6ea5ab6` from #1 has to be resolved:

https://github.com/codeforthailand/election-live/blob/843128114e9e7345e8a2d3156089c89d841bb352/src/pages/index.js#L31-L32

The puzzle was created by Thai Pangsakulyanont on 20-Mar-19.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when the problem is fixed and the text of the puzzle is _

[2019-03-20 05:48] 0pdd commented on #1
@dtinth 20 puzzles [#11](https://github.com/codeforthailand/election-live/issues/11), [#16](https://github.com/codeforthailand/election-live/issues/16), [#17](https://github.com/codeforthailand/election-live/issues/17), [#23](https://github.com/codeforthailand/election-live/issues/23), [#26](https://github.com/codeforthailand/election-live/issues/26), [#32](https://github.com/codeforthailand/elect

[2019-03-20 05:48] 0pdd commented on #42
@dtinth 2 puzzles [#43](https://github.com/codeforthailand/election-live/issues/43), [#51](https://github.com/codeforthailand/election-live/issues/51) are still not solved; solved: [#44](https://github.com/codeforthailand/election-live/issues/44).

[2019-03-20 05:49] dtinth commented on #49
![image](https://user-images.githubusercontent.com/193136/54661914-93a1f180-4b0e-11e9-9f98-7820e3872a01.png)

[2019-03-20 05:49] dtinth commented on #50
Context:

![image](https://user-images.githubusercontent.com/193136/54678318-72093000-4b37-11e9-8915-e8443a50b489.png)

Design:

![image](https://user-images.githubusercontent.com/193136/54661930-a1f00d80-4b0e-11e9-9de0-abb0be3ef680.png)

[2019-03-20 05:51] dtinth commented on #51
This mobile tab component is displayed at the bottom of the screen. To let user pick between content view and map view.

![image](https://user-images.githubusercontent.com/193136/54661965-c8ae4400-4b0e-11e9-9449-2c974b02c41c.png)

[2019-03-20 10:40] #37 closed, assigned to nobody

[2019-03-20 10:40] 0pdd commented on #37
The puzzle `1-804aa44c` has disappeared from the source code, that's why I closed this issue.

[2019-03-20 10:40] 0pdd commented on #1
@dtinth 19 puzzles [#11](https://github.com/codeforthailand/election-live/issues/11), [#16](https://github.com/codeforthailand/election-live/issues/16), [#17](https://github.com/codeforthailand/election-live/issues/17), [#23](https://github.com/codeforthailand/election-live/issues/23), [#26](https://github.com/codeforthailand/election-live/issues/26), [#32](https://github.com/codeforthailand/elect

[2019-03-20 12:55] dtinth opened #55 "Which page is more important? Per-party or overview? → Party view"
**Resolved:**

Party view is next.

[2019-03-20 12:55] #55 closed, assigned to nobody

[2019-03-20 15:38] #11 closed, assigned to nobody

[2019-03-20 15:38] 0pdd commented on #11
The puzzle `1-9f3e7e67` has disappeared from the source code, that's why I closed this issue.

[2019-03-20 15:38] 0pdd commented on #1
@dtinth 18 puzzles [#16](https://github.com/codeforthailand/election-live/issues/16), [#17](https://github.com/codeforthailand/election-live/issues/17), [#23](https://github.com/codeforthailand/election-live/issues/23), [#26](https://github.com/codeforthailand/election-live/issues/26), [#32](https://github.com/codeforthailand/election-live/issues/32), [#35](https://github.com/codeforthailand/elect

[2019-03-20 16:20] #53 closed, assigned to nobody

[2019-03-20 16:20] 0pdd commented on #53
The puzzle `1-a6ea5ab6` has disappeared from the source code, that's why I closed this issue.

[2019-03-20 16:20] 0pdd opened #57 "Replace mock data with real data loading logic."
The puzzle `52-3c7320d7` from #52 has to be resolved:

https://github.com/codeforthailand/election-live/blob/f5c6602e09030a86ff408c76c193d6adba3cdc7e/src/models/LiveDataSubscription.js#L3-L3

The puzzle was created by Thai on Cloud9 on 20-Mar-19.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when the problem is fixed and the text of the p

[2019-03-20 16:20] 0pdd opened #58 "[Refactor] Move party stats calculation logic to models/PartyStats."
The puzzle `53-809e0aaf` from #53 has to be resolved:

https://github.com/codeforthailand/election-live/blob/f5c6602e09030a86ff408c76c193d6adba3cdc7e/src/pages/index.js#L37-L37

The puzzle was created by Thai on Cloud9 on 20-Mar-19.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when the problem is fixed and the text of the puzzle is _remo

[2019-03-20 16:20] 0pdd opened #59 "[Refactor] Move calculation logic related to partyStats to models/PartyStats."
The puzzle `53-ad259d5d` from #53 has to be resolved:

https://github.com/codeforthailand/election-live/blob/f5c6602e09030a86ff408c76c193d6adba3cdc7e/src/calculation/partyStats.js#L1-L1

The puzzle was created by Thai on Cloud9 on 20-Mar-19.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when the problem is fixed and the text of the puzzle

[2019-03-20 16:20] 0pdd opened #60 "[Refactor] Move PartyStats type to models/PartyStats."
The puzzle `53-bfab4181` from #53 has to be resolved:

https://github.com/codeforthailand/election-live/blob/f5c6602e09030a86ff408c76c193d6adba3cdc7e/src/models/ElectionEntities.d.ts#L78-L78

The puzzle was created by Thai on Cloud9 on 20-Mar-19.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when the problem is fixed and the text of the p

[2019-03-20 16:20] 0pdd opened #61 "Allow _some_ caching for HTML files (e.g. 30~60 seconds). Right now, generated .htaccess file sets caching age to 0, which can cause unnecessarily high load."
The puzzle `1-25d3af41` from #1 has to be resolved:

https://github.com/codeforthailand/election-live/blob/f5c6602e09030a86ff408c76c193d6adba3cdc7e/gatsby-config.js#L52-L54

The puzzle was created by Thai on Cloud9 on 20-Mar-19.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when the problem is fixed and the text of the puzzle is _removed_

[2019-03-20 16:20] 0pdd commented on #1
@dtinth 22 puzzles [#16](https://github.com/codeforthailand/election-live/issues/16), [#17](https://github.com/codeforthailand/election-live/issues/17), [#23](https://github.com/codeforthailand/election-live/issues/23), [#26](https://github.com/codeforthailand/election-live/issues/26), [#32](https://github.com/codeforthailand/election-live/issues/32), [#35](https://github.com/codeforthailand/elect

[2019-03-20 16:20] 0pdd commented on #52
@0pdd the puzzle [#57](https://github.com/codeforthailand/election-live/issues/57) is still not solved.

[2019-03-20 16:20] 0pdd commented on #53
@0pdd 3 puzzles [#58](https://github.com/codeforthailand/election-live/issues/58), [#59](https://github.com/codeforthailand/election-live/issues/59), [#60](https://github.com/codeforthailand/election-live/issues/60) are still not solved.

[2019-03-20 16:36] #52 closed, assigned to nobody

[2019-03-20 16:36] 0pdd commented on #52
The puzzle `1-e93337f7` has disappeared from the source code, that's why I closed this issue.

[2019-03-20 16:36] 0pdd opened #62 "Calculate `totalZoneCount` based on filter instead of hardcoded 350."
The puzzle `52-5b8cc84b` from #52 has to be resolved:

https://github.com/codeforthailand/election-live/blob/5a27140dde0565886ceb2a38450cd97c7458f1d3/src/pages/index.js#L23-L23

The puzzle was created by Thai on Cloud9 on 20-Mar-19.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when the problem is fixed and the text of the puzzle is _remo

[2019-03-20 16:36] 0pdd commented on #1
@dtinth 22 puzzles [#16](https://github.com/codeforthailand/election-live/issues/16), [#17](https://github.com/codeforthailand/election-live/issues/17), [#23](https://github.com/codeforthailand/election-live/issues/23), [#26](https://github.com/codeforthailand/election-live/issues/26), [#32](https://github.com/codeforthailand/election-live/issues/32), [#35](https://github.com/codeforthailand/elect

[2019-03-20 16:36] 0pdd commented on #52
@0pdd 2 puzzles [#57](https://github.com/codeforthailand/election-live/issues/57), [#62](https://github.com/codeforthailand/election-live/issues/62) are still not solved.

[2019-03-20 16:48] 0pdd opened #63 "[Refactor] Move components/__mocks__ to __fixtures__"
The puzzle `52-1b49df34` from #52 has to be resolved:

https://github.com/codeforthailand/election-live/blob/e0b734099f5fc4d47adf0e8069dfafb6c303190b/src/components/DesktopScoreBarContainer.js#L4-L4

The puzzle was created by Thai on Cloud9 on 20-Mar-19.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when the problem is fixed and the text

[2019-03-20 16:48] 0pdd opened #64 "[Refactor] Move models/__mocks__ to __fixtures__"
The puzzle `52-2fb6fb3f` from #52 has to be resolved:

https://github.com/codeforthailand/election-live/blob/e0b734099f5fc4d47adf0e8069dfafb6c303190b/src/models/LiveDataSubscription.js#L6-L6

The puzzle was created by Thai on Cloud9 on 20-Mar-19.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when the problem is fixed and the text of the p

[2019-03-20 16:48] 0pdd commented on #1
@dtinth 24 puzzles [#16](https://github.com/codeforthailand/election-live/issues/16), [#17](https://github.com/codeforthailand/election-live/issues/17), [#23](https://github.com/codeforthailand/election-live/issues/23), [#26](https://github.com/codeforthailand/election-live/issues/26), [#32](https://github.com/codeforthailand/election-live/issues/32), [#35](https://github.com/codeforthailand/elect

[2019-03-20 16:48] 0pdd commented on #52
@0pdd 4 puzzles [#57](https://github.com/codeforthailand/election-live/issues/57), [#62](https://github.com/codeforthailand/election-live/issues/62), [#63](https://github.com/codeforthailand/election-live/issues/63), [#64](https://github.com/codeforthailand/election-live/issues/64) are still not solved.

[2019-03-20 18:28] #63 closed, assigned to nobody

[2019-03-20 18:28] 0pdd commented on #63
The puzzle `52-1b49df34` has disappeared from the source code, that's why I closed this issue.

[2019-03-20 18:28] 0pdd commented on #64
The puzzle `52-2fb6fb3f` has disappeared from the source code, that's why I closed this issue.

[2019-03-20 18:28] #64 closed, assigned to nobody

[2019-03-20 18:28] #58 closed, assigned to nobody

[2019-03-20 18:28] 0pdd commented on #58
The puzzle `53-809e0aaf` has disappeared from the source code, that's why I closed this issue.

[2019-03-20 18:28] 0pdd commented on #59
The puzzle `53-ad259d5d` has disappeared from the source code, that's why I closed this issue.

[2019-03-20 18:28] #59 closed, assigned to nobody

[2019-03-20 18:28] 0pdd commented on #60
The puzzle `53-bfab4181` has disappeared from the source code, that's why I closed this issue.

[2019-03-20 18:28] #60 closed, assigned to nobody

[2019-03-20 18:28] 0pdd commented on #1
@dtinth 19 puzzles [#16](https://github.com/codeforthailand/election-live/issues/16), [#17](https://github.com/codeforthailand/election-live/issues/17), [#23](https://github.com/codeforthailand/election-live/issues/23), [#26](https://github.com/codeforthailand/election-live/issues/26), [#32](https://github.com/codeforthailand/election-live/issues/32), [#35](https://github.com/codeforthailand/elect

[2019-03-20 18:28] 0pdd commented on #52
@0pdd 2 puzzles [#57](https://github.com/codeforthailand/election-live/issues/57), [#62](https://github.com/codeforthailand/election-live/issues/62) are still not solved; solved: [#63](https://github.com/codeforthailand/election-live/issues/63), [#64](https://github.com/codeforthailand/election-live/issues/64).

[2019-03-20 18:28] 0pdd commented on #53
@0pdd all 3 puzzles are solved here: [#58](https://github.com/codeforthailand/election-live/issues/58), [#59](https://github.com/codeforthailand/election-live/issues/59), [#60](https://github.com/codeforthailand/election-live/issues/60).

[2019-03-20 20:07] #62 closed, assigned to nobody

[2019-03-20 20:07] 0pdd commented on #62
The puzzle `52-5b8cc84b` has disappeared from the source code, that's why I closed this issue.

[2019-03-20 20:07] 0pdd commented on #1
@dtinth 18 puzzles [#16](https://github.com/codeforthailand/election-live/issues/16), [#17](https://github.com/codeforthailand/election-live/issues/17), [#23](https://github.com/codeforthailand/election-live/issues/23), [#26](https://github.com/codeforthailand/election-live/issues/26), [#32](https://github.com/codeforthailand/election-live/issues/32), [#35](https://github.com/codeforthailand/elect

[2019-03-20 20:07] 0pdd commented on #52
@0pdd the puzzle [#57](https://github.com/codeforthailand/election-live/issues/57) is still not solved; solved: [#62](https://github.com/codeforthailand/election-live/issues/62), [#63](https://github.com/codeforthailand/election-live/issues/63), [#64](https://github.com/codeforthailand/election-live/issues/64).

[2019-03-21 10:35] p16i opened #65 "Hamburger menu looks strange on iOS"
<img width="559" alt="image" src="https://user-images.githubusercontent.com/1214890/54746808-afd18b80-4bff-11e9-9edf-914dc91861c8.png">

[2019-03-21 10:37] dtinth commented on #65
Thanks for the issue... However the hamburger menu will be replaced with a navigation **dropdown** according to latest designs yesterday krubb. Sorry for the confusion.

[2019-03-21 10:39] p16i commented on #65
np, feel free to close it if it's irrelevant.

[2019-03-21 15:39] p16i commented on #50
<img width="375" alt="image" src="https://user-images.githubusercontent.com/1214890/54764389-431fb680-4c2a-11e9-9ad3-5008bce1892b.png">

[2019-03-21 15:39] #50 closed, assigned to p16i

[2019-03-21 15:39] p16i commented on #49
<img width="378" alt="image" src="https://user-images.githubusercontent.com/1214890/54764351-2aaf9c00-4c2a-11e9-820c-2db8df8c3bd4.png">

[2019-03-21 15:39] #49 closed, assigned to p16i

[2019-03-21 16:33] p16i commented on #51
<img width="559" alt="image" src="https://user-images.githubusercontent.com/1214890/54768447-c2fd4f00-4c31-11e9-9444-fbb92b424d48.png">

[2019-03-21 16:33] #51 closed, assigned to p16i

[2019-03-21 18:38] 0pdd commented on #48
The puzzle `1-e7d3ea86` has disappeared from the source code, that's why I closed this issue.

[2019-03-21 18:38] #48 closed, assigned to nobody

[2019-03-21 18:38] 0pdd commented on #1
@dtinth 15 puzzles [#16](https://github.com/codeforthailand/election-live/issues/16), [#17](https://github.com/codeforthailand/election-live/issues/17), [#23](https://github.com/codeforthailand/election-live/issues/23), [#26](https://github.com/codeforthailand/election-live/issues/26), [#32](https://github.com/codeforthailand/election-live/issues/32), [#35](https://github.com/codeforthailand/elect

[2019-03-21 18:38] 0pdd commented on #42
@dtinth the puzzle [#43](https://github.com/codeforthailand/election-live/issues/43) is still not solved; solved: [#44](https://github.com/codeforthailand/election-live/issues/44), [#51](https://github.com/codeforthailand/election-live/issues/51).

[2019-03-21 18:42] #43 closed, assigned to nobody

[2019-03-21 18:42] 0pdd commented on #43
The puzzle `42-f3f6d36f` has disappeared from the source code, that's why I closed this issue.

[2019-03-21 18:42] 0pdd commented on #42
@dtinth all 3 puzzles are solved here: [#43](https://github.com/codeforthailand/election-live/issues/43), [#44](https://github.com/codeforthailand/election-live/issues/44), [#51](https://github.com/codeforthailand/election-live/issues/51).

[2019-03-21 18:42] dtinth commented on #42
Done!

[2019-03-21 18:42] #42 closed, assigned to dtinth

[2019-03-21 18:52] p16i commented on #16
@dodadoa are you working on this one?

[2019-03-21 18:54] #61 closed, assigned to nobody

[2019-03-21 18:54] 0pdd commented on #1
@dtinth 14 puzzles [#16](https://github.com/codeforthailand/election-live/issues/16), [#17](https://github.com/codeforthailand/election-live/issues/17), [#23](https://github.com/codeforthailand/election-live/issues/23), [#26](https://github.com/codeforthailand/election-live/issues/26), [#32](https://github.com/codeforthailand/election-live/issues/32), [#35](https://github.com/codeforthailand/elect

[2019-03-21 18:56] p16i commented on #41
I think we can close this one.

<img width="559" alt="image" src="https://user-images.githubusercontent.com/1214890/54777777-a539e500-4c45-11e9-810e-db14b58d683c.png">

[2019-03-21 18:56] #41 closed, assigned to nobody

[2019-03-21 19:07] 0pdd opened #66 "Implement and style search button on desktop."
The puzzle `1-67a5e157` from #1 has to be resolved:

https://github.com/codeforthailand/election-live/blob/2042b9b7e2cf5b3fd0a9610dd1b9fd811757a7f0/src/components/ZoneMasterView.js#L111-L111

The puzzle was created by Thai Pangsakulyanont on 21-Mar-19.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when the problem is fixed and the text of

[2019-03-21 19:07] 0pdd commented on #1
@dtinth 15 puzzles [#16](https://github.com/codeforthailand/election-live/issues/16), [#17](https://github.com/codeforthailand/election-live/issues/17), [#23](https://github.com/codeforthailand/election-live/issues/23), [#26](https://github.com/codeforthailand/election-live/issues/26), [#32](https://github.com/codeforthailand/election-live/issues/32), [#35](https://github.com/codeforthailand/elect

[2019-03-21 19:09] dodadoa commented on #16
not anymore

[2019-03-21 19:12] 0pdd opened #67 "Change the header style to match the design."
The puzzle `1-5f0fec55` from #1 has to be resolved:

https://github.com/codeforthailand/election-live/blob/1a67bd536c047d94477d8fc3aa2945e554e6f1fa/src/components/MainLayout.js#L11-L12

The puzzle was created by dodadoa on 21-Mar-19.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when the problem is fixed and the text of the puzzle is _rem

[2019-03-21 19:12] 0pdd commented on #1
@dtinth 16 puzzles [#16](https://github.com/codeforthailand/election-live/issues/16), [#17](https://github.com/codeforthailand/election-live/issues/17), [#23](https://github.com/codeforthailand/election-live/issues/23), [#26](https://github.com/codeforthailand/election-live/issues/26), [#32](https://github.com/codeforthailand/election-live/issues/32), [#35](https://github.com/codeforthailand/elect

[2019-03-21 19:18] p16i opened #68 "Style zone page"

[2019-03-21 20:52] 0pdd opened #69 "Update zone filtering logic to allow searching by postal code and province name."
The puzzle `1-298537d0` from #1 has to be resolved:

https://github.com/codeforthailand/election-live/blob/63960bf6d9d72fce801e21076b322d55db4978aa/src/components/ZoneSearchPanel.js#L52-L53

The puzzle was created by Thai Pangsakulyanont on 21-Mar-19.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when the problem is fixed and the text of

[2019-03-21 20:52] 0pdd commented on #1
@dtinth 17 puzzles [#16](https://github.com/codeforthailand/election-live/issues/16), [#17](https://github.com/codeforthailand/election-live/issues/17), [#23](https://github.com/codeforthailand/election-live/issues/23), [#26](https://github.com/codeforthailand/election-live/issues/26), [#32](https://github.com/codeforthailand/election-live/issues/32), [#35](https://github.com/codeforthailand/elect

[2019-03-22 04:13] #16 closed, assigned to p16i

[2019-03-22 04:13] 0pdd commented on #16
The puzzle `1-db2b4d14` has disappeared from the source code, that's why I closed this issue.

[2019-03-22 04:13] 0pdd commented on #1
@dtinth 16 puzzles [#17](https://github.com/codeforthailand/election-live/issues/17), [#23](https://github.com/codeforthailand/election-live/issues/23), [#26](https://github.com/codeforthailand/election-live/issues/26), [#32](https://github.com/codeforthailand/election-live/issues/32), [#35](https://github.com/codeforthailand/election-live/issues/35), [#38](https://github.com/codeforthailand/elect

[2019-03-22 04:51] 0pdd opened #70 "Connect the mobile tabs to routing."
The puzzle `1-d680e1f5` from #1 has to be resolved:

https://github.com/codeforthailand/election-live/blob/b834ca33b7d16fd0e7a7c4bcca497785ac9aba51/src/components/ZoneMasterView.js#L219-L219

The puzzle was created by Thai Pangsakulyanont on 22-Mar-19.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when the problem is fixed and the text of

[2019-03-22 04:51] 0pdd commented on #1
@dtinth 17 puzzles [#17](https://github.com/codeforthailand/election-live/issues/17), [#23](https://github.com/codeforthailand/election-live/issues/23), [#26](https://github.com/codeforthailand/election-live/issues/26), [#32](https://github.com/codeforthailand/election-live/issues/32), [#35](https://github.com/codeforthailand/election-live/issues/35), [#38](https://github.com/codeforthailand/elect

[2019-03-22 04:56] 0pdd opened #71 "Push realtime result to election map instead of mock data"
The puzzle `30-25ad3860` from #30 has to be resolved:

https://github.com/codeforthailand/election-live/blob/f850841dd3a69286632138a211a72dffa261386a/src/components/ZoneMasterView.js#L37-L37

The puzzle was created by @rapee on 22-Mar-19.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when the problem is fixed and the text of the puzzle is

[2019-03-22 04:56] 0pdd commented on #30
@dtinth 2 puzzles [#31](https://github.com/codeforthailand/election-live/issues/31), [#71](https://github.com/codeforthailand/election-live/issues/71) are still not solved.

[2019-03-22 05:52] 0pdd commented on #31
The puzzle `30-19a372c6` has disappeared from the source code, that's why I closed this issue.

[2019-03-22 05:52] #31 closed, assigned to nobody

[2019-03-22 05:52] 0pdd commented on #30
@dtinth the puzzle [#71](https://github.com/codeforthailand/election-live/issues/71) is still not solved; solved: [#31](https://github.com/codeforthailand/election-live/issues/31).

[2019-03-22 06:22] rapee opened #72 "Show tooltip for Election Map"
Design https://projects.invisionapp.com/share/N6R20KQW2H7#/screens/352732955_Home

[2019-03-22 07:45] 0pdd commented on #30
@dtinth 2 puzzles [#31](https://github.com/codeforthailand/election-live/issues/31), [#71](https://github.com/codeforthailand/election-live/issues/71) are still not solved.

[2019-03-22 08:35] p16i commented on #68
<img width="559" alt="image" src="https://user-images.githubusercontent.com/1214890/54810182-07cbc900-4cb8-11e9-863a-96102f9cfe96.png">

[2019-03-22 08:35] #68 closed, assigned to p16i

[2019-03-22 08:41] rapee commented on #7
Google Tag Manager: `UA-43653558-20`
Facebook Pixel App ID: `403066120477972`

[2019-03-22 08:54] 0pdd opened #75 "Replace mock data for per-province with real data loading logic."
The puzzle `52-7e616144` from #52 has to be resolved:

https://github.com/codeforthailand/election-live/blob/43fd6c51760518b9e6922ca37d0a9b2bfbb3a801/src/models/LiveDataSubscription.js#L57-L57

The puzzle was created by Thai Pangsakulyanont on 22-Mar-19.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when the problem is fixed and the text

[2019-03-22 08:54] 0pdd opened #76 "Convert this state to the route. To keep the active filter, we can use query string (`location.search`). e.g. `/filters/northern?tab=map`."
The puzzle `1-04bb1519` from #1 has to be resolved:

https://github.com/codeforthailand/election-live/blob/43fd6c51760518b9e6922ca37d0a9b2bfbb3a801/src/components/ZoneMasterView.js#L38-L40

The puzzle was created by Thai Pangsakulyanont on 22-Mar-19.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when the problem is fixed and the text of t

[2019-03-22 08:54] 0pdd opened #77 "[UI polish] Polish the spacing in ZoneSearchPanel to match the design."
The puzzle `1-9ac29d92` from #1 has to be resolved:

https://github.com/codeforthailand/election-live/blob/43fd6c51760518b9e6922ca37d0a9b2bfbb3a801/src/components/ZoneSearchPanel.js#L9-L9

The puzzle was created by Thai Pangsakulyanont on 22-Mar-19.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when the problem is fixed and the text of th

[2019-03-22 08:54] 0pdd commented on #1
@dtinth 20 puzzles [#17](https://github.com/codeforthailand/election-live/issues/17), [#23](https://github.com/codeforthailand/election-live/issues/23), [#26](https://github.com/codeforthailand/election-live/issues/26), [#32](https://github.com/codeforthailand/election-live/issues/32), [#35](https://github.com/codeforthailand/election-live/issues/35), [#38](https://github.com/codeforthailand/elect

[2019-03-22 08:54] 0pdd commented on #52
@0pdd 2 puzzles [#57](https://github.com/codeforthailand/election-live/issues/57), [#75](https://github.com/codeforthailand/election-live/issues/75) are still not solved; solved: [#62](https://github.com/codeforthailand/election-live/issues/62), [#63](https://github.com/codeforthailand/election-live/issues/63), [#64](https://github.com/codeforthailand/election-live/issues/64).

[2019-03-22 08:57] dtinth commented on #77
Design: https://invis.io/N6R20KQW2H7#/353489491_Search_Results_-_Mobile_-_Modal

![image](https://user-images.githubusercontent.com/193136/54811366-1ebfea80-4cbb-11e9-901e-494139598bc3.png)

Problems right now:

- Color not matching (too black).
- Spacing (too much).
- No right arrow at the right.

[2019-03-22 10:06] p16i commented on #70
related to https://github.com/codeforthailand/election-live/issues/76

[2019-03-22 10:32] #7 closed, assigned to nobody

[2019-03-22 11:27] 0pdd commented on #57
The puzzle `52-3c7320d7` has disappeared from the source code, that's why I closed this issue.

[2019-03-22 11:27] #57 closed, assigned to nobody

[2019-03-22 11:27] #75 closed, assigned to nobody

[2019-03-22 11:27] 0pdd commented on #75
The puzzle `52-7e616144` has disappeared from the source code, that's why I closed this issue.

[2019-03-22 11:27] 0pdd commented on #1
@dtinth 18 puzzles [#17](https://github.com/codeforthailand/election-live/issues/17), [#23](https://github.com/codeforthailand/election-live/issues/23), [#26](https://github.com/codeforthailand/election-live/issues/26), [#32](https://github.com/codeforthailand/election-live/issues/32), [#35](https://github.com/codeforthailand/election-live/issues/35), [#38](https://github.com/codeforthailand/elect

[2019-03-22 11:27] 0pdd commented on #52
@0pdd all 5 puzzles are solved here: [#57](https://github.com/codeforthailand/election-live/issues/57), [#62](https://github.com/codeforthailand/election-live/issues/62), [#63](https://github.com/codeforthailand/election-live/issues/63), [#64](https://github.com/codeforthailand/election-live/issues/64), [#75](https://github.com/codeforthailand/election-live/issues/75).

[2019-03-22 12:55] aiiaor opened #81 "Data Fetching logic"
To do : polish data

[2019-03-22 13:37] aiiaor opened #82 "Be able to search by city"

[2019-03-22 13:39] aiiaor commented on #82
For now, we can search by อำเภอ เขต(District) except จังหวัด(City)

[2019-03-22 14:44] dtinth commented on #72
I saw you pushed the code for tooltip, so closing for now. Please reopen if this was a mistake

[2019-03-22 14:44] #72 closed, assigned to nobody

[2019-03-22 14:54] iboss-ptk commented on #82
I can help!

[2019-03-22 15:17] dtinth commented on #82
@iboss-ptk Thanks! Let’s continue this on #69, this issue is duplicate.

[2019-03-22 15:17] #82 closed, assigned to nobody

[2019-03-22 15:39] #23 closed, assigned to nobody

[2019-03-22 15:39] 0pdd commented on #23
The puzzle `1-2a60074f` has disappeared from the source code, that's why I closed this issue.

[2019-03-22 15:39] #71 closed, assigned to nobody

[2019-03-22 15:39] 0pdd commented on #71
The puzzle `30-25ad3860` has disappeared from the source code, that's why I closed this issue.

[2019-03-22 15:39] 0pdd commented on #1
@dtinth 17 puzzles [#17](https://github.com/codeforthailand/election-live/issues/17), [#26](https://github.com/codeforthailand/election-live/issues/26), [#32](https://github.com/codeforthailand/election-live/issues/32), [#35](https://github.com/codeforthailand/election-live/issues/35), [#38](https://github.com/codeforthailand/election-live/issues/38), [#39](https://github.com/codeforthailand/elect

[2019-03-22 15:39] 0pdd commented on #30
@dtinth the puzzle [#31](https://github.com/codeforthailand/election-live/issues/31) is still not solved; solved: [#71](https://github.com/codeforthailand/election-live/issues/71).

[2019-03-22 16:21] RbaduMan opened #84 "Support text overflow on party list name"
<img width="373" alt="Screen Shot 2562-03-22 at 23 21 04" src="https://user-images.githubusercontent.com/34000537/54837523-33bb6e80-4cf9-11e9-8464-bbfb7c16d370.png">

[2019-03-22 16:22] RbaduMan opened #85 "Fix constituency seats graph length"
Now it's calculate length by percentage of content width not container width

[2019-03-22 16:27] rapee opened #87 "Focus to fit zone bounds on filter updated"
When user changes filter e.g. to "Northen region", map zoom to fit bounds of related zones. (See image)

---
All country

<img width="660" alt="Screen Shot 2019-03-22 at 23 26 23" src="https://user-images.githubusercontent.com/924635/54837840-eee40780-4cf9-11e9-81bd-5a7a60b2325b.png">

---

Northen region

<img width="767" alt="Screen Shot 2019-03-22 at 23 24 12" src="https://user-images.githubuse

[2019-03-22 16:32] 0pdd commented on #30
@dtinth all 2 puzzles are solved here: [#31](https://github.com/codeforthailand/election-live/issues/31), [#71](https://github.com/codeforthailand/election-live/issues/71).

[2019-03-22 16:50] #69 closed, assigned to nobody

[2019-03-22 16:50] 0pdd commented on #69
The puzzle `1-298537d0` has disappeared from the source code, that's why I closed this issue.

[2019-03-22 16:50] 0pdd opened #89 "Update zone filtering logic to allow searching by postal code"
The puzzle `1-8bf3c6db` from #1 has to be resolved:

https://github.com/codeforthailand/election-live/blob/b4f43608ac540cf9025bff893a0b90a2aa8b2e07/src/components/ZoneSearchPanel.js#L58-L58

The puzzle was created by Supanat Pothivarakorn on 22-Mar-19.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when the problem is fixed and the text of

[2019-03-22 16:50] 0pdd commented on #1
@dtinth 17 puzzles [#17](https://github.com/codeforthailand/election-live/issues/17), [#26](https://github.com/codeforthailand/election-live/issues/26), [#32](https://github.com/codeforthailand/election-live/issues/32), [#35](https://github.com/codeforthailand/election-live/issues/35), [#38](https://github.com/codeforthailand/election-live/issues/38), [#39](https://github.com/codeforthailand/elect

[2019-03-22 16:51] rapee opened #90 "ElectionMap on mobile not displayed on tab change"
When user change from "สรุปข้อมูล" to "แผนที่" on mobile, map is not rendered.

[2019-03-22 17:11] dtinth commented on #90
I fixed it already krubb :D

Also, linked it to the corresponding zone route.

[2019-03-22 17:23] #85 closed, assigned to nobody

[2019-03-22 17:27] #76 closed, assigned to nobody

[2019-03-22 17:27] 0pdd commented on #1
@dtinth 16 puzzles [#17](https://github.com/codeforthailand/election-live/issues/17), [#26](https://github.com/codeforthailand/election-live/issues/26), [#32](https://github.com/codeforthailand/election-live/issues/32), [#35](https://github.com/codeforthailand/election-live/issues/35), [#38](https://github.com/codeforthailand/election-live/issues/38), [#39](https://github.com/codeforthailand/elect

[2019-03-22 17:27] #32 closed, assigned to nobody

[2019-03-22 20:15] dtinth commented on #90
Closed in 4505612f4d5d0a614d68eed2f3f2913115337330

[2019-03-22 20:15] #90 closed, assigned to nobody

[2019-03-22 20:34] dtinth commented on #26
Design:

![count_white](https://user-images.githubusercontent.com/193136/54851429-79d5f980-4d1c-11e9-9ea0-2b0c24f8bdf8.gif)

First version, we can use this .gif file verbatim.

[2019-03-22 20:34] dtinth commented on #30
All puzzles solved, closing

[2019-03-22 20:34] #30 closed, assigned to rapee, Director99

[2019-03-22 20:40] #70 closed, assigned to nobody

[2019-03-22 20:40] 0pdd commented on #70
The puzzle `1-d680e1f5` has disappeared from the source code, that's why I closed this issue.

[2019-03-22 20:40] 0pdd opened #96 "ElectionMap: Selection does not update on route change. This is because ElectionMap manages its own "selected" state. To fix this, make ElectionMap take in the ID of current selection via props..."
The puzzle `1-57a78ffe` from #1 has to be resolved:

https://github.com/codeforthailand/election-live/blob/ae5f89d0e75f8394032b5ea66329302a237a8c2c/src/components/ElectionMap.js#L136-L139

The puzzle was created by Thai Pangsakulyanont on 22-Mar-19.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when the problem is fixed and the text of th

[2019-03-22 20:40] 0pdd opened #97 "[UI] ElectionMapContainer: Replace placeholder text in tooltip with actual content."
The puzzle `1-2cc36a26` from #1 has to be resolved:

https://github.com/codeforthailand/election-live/blob/ae5f89d0e75f8394032b5ea66329302a237a8c2c/src/components/ElectionMapContainer.js#L124-L125

The puzzle was created by Thai Pangsakulyanont on 22-Mar-19.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when the problem is fixed and the t

[2019-03-22 20:40] 0pdd commented on #1
@dtinth 17 puzzles [#17](https://github.com/codeforthailand/election-live/issues/17), [#26](https://github.com/codeforthailand/election-live/issues/26), [#32](https://github.com/codeforthailand/election-live/issues/32), [#35](https://github.com/codeforthailand/election-live/issues/35), [#38](https://github.com/codeforthailand/election-live/issues/38), [#39](https://github.com/codeforthailand/elect

[2019-03-22 20:41] 0pdd commented on #77
The puzzle `1-9ac29d92` has disappeared from the source code, that's why I closed this issue.

[2019-03-22 20:41] #77 closed, assigned to nobody

[2019-03-22 20:41] 0pdd commented on #1
@dtinth 16 puzzles [#17](https://github.com/codeforthailand/election-live/issues/17), [#26](https://github.com/codeforthailand/election-live/issues/26), [#32](https://github.com/codeforthailand/election-live/issues/32), [#35](https://github.com/codeforthailand/election-live/issues/35), [#38](https://github.com/codeforthailand/election-live/issues/38), [#39](https://github.com/codeforthailand/elect

[2019-03-22 20:41] dtinth commented on #77
Fixed in #80

[2019-03-22 21:26] dtinth opened #98 "[Dev] Time traveling"
Time traveling allow us to view and test using data at a specified point in time.

1. Go to `/dev` and enable `ELECT_DEVELOPER_PANEL`.

2. Open the developer panel and click the Time Travel button.

    ![image](https://user-images.githubusercontent.com/193136/54864251-5c8a4500-4d87-11e9-84d9-583e4d98730e.png)

Thanks to the fact that we don’t overwrite our data file but each time write a new file

[2019-03-22 21:36] 0pdd opened #99 "PartyStatsContainer: Handle case where data failed to load."
The puzzle `1-e21b1648` from #1 has to be resolved:

https://github.com/codeforthailand/election-live/blob/c441e46ab4a8e6c815c4d70c29aa5a4e9b7c94b3/src/pages/index.js#L127-L127

The puzzle was created by Thai Pangsakulyanont on 22-Mar-19.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when the problem is fixed and the text of the puzzle is

[2019-03-22 21:36] 0pdd opened #100 "ZoneCandidateList: Handle case where data failed to load."
The puzzle `1-72af4204` from #1 has to be resolved:

https://github.com/codeforthailand/election-live/blob/c441e46ab4a8e6c815c4d70c29aa5a4e9b7c94b3/src/pages/index.js#L268-L268

The puzzle was created by Thai Pangsakulyanont on 22-Mar-19.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when the problem is fixed and the text of the puzzle is

[2019-03-22 21:36] 0pdd opened #101 "Incorporate NO VOTES into ZoneCandidateList."
The puzzle `1-77a0075b` from #1 has to be resolved:

https://github.com/codeforthailand/election-live/blob/c441e46ab4a8e6c815c4d70c29aa5a4e9b7c94b3/src/pages/index.js#L285-L285

The puzzle was created by Thai Pangsakulyanont on 22-Mar-19.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when the problem is fixed and the text of the puzzle is

[2019-03-22 21:36] 0pdd commented on #1
@dtinth 19 puzzles [#100](https://github.com/codeforthailand/election-live/issues/100), [#101](https://github.com/codeforthailand/election-live/issues/101), [#17](https://github.com/codeforthailand/election-live/issues/17), [#26](https://github.com/codeforthailand/election-live/issues/26), [#32](https://github.com/codeforthailand/election-live/issues/32), [#35](https://github.com/codeforthailand/e

[2019-03-22 21:41] 0pdd opened #102 "Add social meta tag, e.g. open graph image, etc."
The puzzle `1-a35fbb61` from #1 has to be resolved:

https://github.com/codeforthailand/election-live/blob/d82495a0e1d8e980948edafc40c7d48d03acc3d1/src/components/DocumentHead.js#L17-L17

The puzzle was created by Thai Pangsakulyanont on 22-Mar-19.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when the problem is fixed and the text of the

[2019-03-22 21:41] 0pdd opened #103 "Allow a way for us to display a banner to tell users to refresh the browser. Our app may contain bugs and we might need users to refresh our website to get the new code."
The puzzle `1-361316c7` from #1 has to be resolved:

https://github.com/codeforthailand/election-live/blob/d82495a0e1d8e980948edafc40c7d48d03acc3d1/src/components/PageLayout.js#L14-L16

The puzzle was created by Thai Pangsakulyanont on 22-Mar-19.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when the problem is fixed and the text of the p

[2019-03-22 21:41] 0pdd commented on #1
@dtinth 21 puzzles [#100](https://github.com/codeforthailand/election-live/issues/100), [#101](https://github.com/codeforthailand/election-live/issues/101), [#102](https://github.com/codeforthailand/election-live/issues/102), [#103](https://github.com/codeforthailand/election-live/issues/103), [#17](https://github.com/codeforthailand/election-live/issues/17), [#26](https://github.com/codeforthaila

[2019-03-22 21:58] dtinth commented on #81
Mostly done krub

[2019-03-22 21:58] #81 closed, assigned to dtinth

[2019-03-22 21:59] dtinth commented on #65
We’ve updated the nav — closing

[2019-03-22 21:59] #65 closed, assigned to nobody

[2019-03-22 22:00] #35 closed, assigned to nobody

[2019-03-22 22:00] #38 closed, assigned to nobody

[2019-03-23 04:07] dtinth commented on #98
- 20190323110504 — 13m people voted, but none finished counting
- 20190323112603 — 18m people voted, but none finished counting
- 20190323040304 — all counted but no vote

[2019-03-23 04:25] rapee commented on #21
# 3. เขตเลือกตั้งแบ่งโดยคสช.
จังหวัดที่มีรูปแบบเขตเลือกตั้งไม่ตรงกับที่ กกต.จังหวัดกำหนด เนื่องด้วยคำสั่ง คสช.

นครราชสีมา
สุรินทร์
มหาสารคาม
ยโสธร
สกลนคร
อุดรธานี
นครสวรรค์
นครปฐม
เชียงราย
สุโขทัย
ชัยนาท

[2019-03-23 04:26] rapee commented on #22
# 4. เขตเลือกตั้งที่ไม่มีฐานเสียงชัดเจน (Swing Province)*
จังหวัดที่มีผลคะแนนเลือกตั้งปี 54 ของพรรคอันดับ 1 กับอันดับ 2 ห่างกันไม่ถึง 5%

อำนาจเจริญ
นครนายก
ราชบุรี
ปราจีนบุรี
ชลบุรี
กรุงเทพมหานคร
กำแพงเพชร
สุโขทัย
สมุทรสาคร

:pushpin: ข้อ 4 นี่ต้องใช้เป็นจังหวัด เพราะมันเป็นการเทียบกับปี 54 ซึ่งเขตเลือกตั้งไม่ตรงกัน

[2019-03-23 04:27] rapee opened #104 "Implement filtering code for Landslide Winning zones"
# 5. เขตที่ชนะขาด
เขตที่คะแนนของผู้สมัครอันดับ 1 ห่างจากอับดับ 2 เกิน 50%

This is a dynamic filter that filter zones depending on their performances.

![image](https://user-images.githubusercontent.com/193136/54545541-72d58100-49d4-11e9-93f8-4bb9988ca6ea.png)

[2019-03-23 04:29] rapee opened #105 "Implement filtering code for Narrow Victory zones"
# 6. เขตที่ชนะกันแบบฉิวเฉียด
เขตที่คะแนนของผู้สมัครอันดับ 1 ห่างจากอับดับ 2 ไม่เกิน 5%

This is a dynamic filter that filter zones depending on their performances.

![image](https://user-images.githubusercontent.com/193136/54545541-72d58100-49d4-11e9-93f8-4bb9988ca6ea.png)

[2019-03-23 04:30] rapee commented on #19
# 1. เขตพื้นที่เมือง
เขตที่มีความหนาแน่นประชากร 800 คน/ตร.กม. ขึ้นไป (≥ เขตที่หนาแน่นน้อยที่สุดของกทม.)

# 2. เขตพื้นที่นอกเมือง
เขตที่มีความหนาแน่นประชากรน้อยกว่า 800 คน/ตร.กม (< เขตที่หนาแน่นน้อยที่สุดของกรุงเทพฯ)

:pushpin: ข้อ 1-2 ใช้เกณฑ์ความหนาแน่นปชก. เอาจ้า เพราะปชก. ทุกเขต 189,110 คนเท่ากัน ก็เลยให้พี่โฟนช่วยทำข้อมูลขนาดแต่ละเขตเลือกตั้งไว้แล้ว เขตไหนที่มีพื้นที่เยอะกว่า 236.39 ตร.กม. นับ

[2019-03-23 04:30] rapee commented on #20
# 1. เขตพื้นที่เมือง
เขตที่มีความหนาแน่นประชากร 800 คน/ตร.กม. ขึ้นไป (≥ เขตที่หนาแน่นน้อยที่สุดของกทม.)

# 2. เขตพื้นที่นอกเมือง
เขตที่มีความหนาแน่นประชากรน้อยกว่า 800 คน/ตร.กม (< เขตที่หนาแน่นน้อยที่สุดของกรุงเทพฯ)

:pushpin: ข้อ 1-2 ใช้เกณฑ์ความหนาแน่นปชก. เอาจ้า เพราะปชก. ทุกเขต 189,110 คนเท่ากัน ก็เลยให้พี่โฟนช่วยทำข้อมูลขนาดแต่ละเขตเลือกตั้งไว้แล้ว เขตไหนที่มีพื้นที่เยอะกว่า 236.39 ตร.กม. นับ

[2019-03-23 08:38] 0pdd opened #106 "CountdownCurtain: Add image"
The puzzle `1-18867a8f` from #1 has to be resolved:

https://github.com/codeforthailand/election-live/blob/dcfac822b1d15e8620ab591ff01527de4f46ac7e/src/components/MainLayout.js#L173-L173

The puzzle was created by Thai Pangsakulyanont on 23-Mar-19.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when the problem is fixed and the text of the

[2019-03-23 08:38] 0pdd opened #107 "CountdownCurtain: Replace static text with countdown => 2018-03-24T18:00:00+07:00"
The puzzle `1-50f189f4` from #1 has to be resolved:

https://github.com/codeforthailand/election-live/blob/dcfac822b1d15e8620ab591ff01527de4f46ac7e/src/components/MainLayout.js#L179-L179

The puzzle was created by Thai Pangsakulyanont on 23-Mar-19.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when the problem is fixed and the text of the

[2019-03-23 08:38] 0pdd commented on #1
@dtinth 23 puzzles [#100](https://github.com/codeforthailand/election-live/issues/100), [#101](https://github.com/codeforthailand/election-live/issues/101), [#102](https://github.com/codeforthailand/election-live/issues/102), [#103](https://github.com/codeforthailand/election-live/issues/103), [#106](https://github.com/codeforthailand/election-live/issues/106), [#107](https://github.com/codefortha

[2019-03-23 08:50] dtinth commented on #98
- 20190323154404 —	22m people voted, 81% counted, some zones over 80%

[2019-03-23 08:52] #22 closed, assigned to Director99

[2019-03-23 08:52] 0pdd commented on #22
The puzzle `18-3c00c6fa` has disappeared from the source code, that's why I closed this issue.

[2019-03-23 08:52] 0pdd commented on #18
@dtinth 3 puzzles [#19](https://github.com/codeforthailand/election-live/issues/19), [#20](https://github.com/codeforthailand/election-live/issues/20), [#21](https://github.com/codeforthailand/election-live/issues/21) are still not solved; solved: [#22](https://github.com/codeforthailand/election-live/issues/22).

[2019-03-23 08:56] #17 closed, assigned to nobody

[2019-03-23 08:56] 0pdd commented on #1
@dtinth 22 puzzles [#100](https://github.com/codeforthailand/election-live/issues/100), [#101](https://github.com/codeforthailand/election-live/issues/101), [#102](https://github.com/codeforthailand/election-live/issues/102), [#103](https://github.com/codeforthailand/election-live/issues/103), [#106](https://github.com/codeforthailand/election-live/issues/106), [#107](https://github.com/codefortha

[2019-03-23 09:07] 0pdd commented on #21
The puzzle `18-c7f367f1` has disappeared from the source code, that's why I closed this issue.

[2019-03-23 09:07] #21 closed, assigned to nobody

[2019-03-23 09:07] 0pdd commented on #18
@dtinth 2 puzzles [#19](https://github.com/codeforthailand/election-live/issues/19), [#20](https://github.com/codeforthailand/election-live/issues/20) are still not solved; solved: [#21](https://github.com/codeforthailand/election-live/issues/21), [#22](https://github.com/codeforthailand/election-live/issues/22).

[2019-03-23 09:19] 0pdd opened #109 "getLatestDirectoryState: Disable this conditional if control variable "locked" is true. Have to wait for ETL team to update `latest.json`. e.g. (latestState.data.control &&..."
The puzzle `1-190105c7` from #1 has to be resolved:

https://github.com/codeforthailand/election-live/blob/1e9240abe98083c7c2efd9099b20196b772abb65/src/models/LiveDataSubscription.js#L131-L133

The puzzle was created by Thai Pangsakulyanont on 23-Mar-19.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when the problem is fixed and the text

[2019-03-23 09:19] 0pdd commented on #1
@dtinth 23 puzzles [#100](https://github.com/codeforthailand/election-live/issues/100), [#101](https://github.com/codeforthailand/election-live/issues/101), [#102](https://github.com/codeforthailand/election-live/issues/102), [#103](https://github.com/codeforthailand/election-live/issues/103), [#106](https://github.com/codeforthailand/election-live/issues/106), [#107](https://github.com/codefortha

[2019-03-23 09:31] 0pdd commented on #19
The puzzle `18-fe5a555b` has disappeared from the source code, that's why I closed this issue.

[2019-03-23 09:31] #19 closed, assigned to nobody

[2019-03-23 09:32] #20 closed, assigned to nobody

[2019-03-23 09:32] 0pdd commented on #20
The puzzle `18-95187052` has disappeared from the source code, that's why I closed this issue.

[2019-03-23 09:32] 0pdd commented on #18
@dtinth all 4 puzzles are solved here: [#19](https://github.com/codeforthailand/election-live/issues/19), [#20](https://github.com/codeforthailand/election-live/issues/20), [#21](https://github.com/codeforthailand/election-live/issues/21), [#22](https://github.com/codeforthailand/election-live/issues/22).

[2019-03-23 09:47] p16i commented on #84
already done:
<img width="559" alt="image" src="https://user-images.githubusercontent.com/1214890/54864541-5d24da80-4d8b-11e9-9d57-c0440fcf8921.png">

[2019-03-23 09:47] #84 closed, assigned to nobody

[2019-03-23 09:52] 0pdd opened #111 "inject vote count props to this comp for showing total vote %"
The puzzle `1-512bf393` from #1 has to be resolved:

https://github.com/codeforthailand/election-live/blob/3f6b478ecbc16cf6fdf63ac347247b0ddb90dc35/src/components/VoteCounter.js#L8-L8

The puzzle was created by Pankamol Srikaew on 23-Mar-19.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when the problem is fixed and the text of the puzzle

[2019-03-23 09:52] 0pdd commented on #1
@dtinth 24 puzzles [#100](https://github.com/codeforthailand/election-live/issues/100), [#101](https://github.com/codeforthailand/election-live/issues/101), [#102](https://github.com/codeforthailand/election-live/issues/102), [#103](https://github.com/codeforthailand/election-live/issues/103), [#106](https://github.com/codeforthailand/election-live/issues/106), [#107](https://github.com/codefortha

[2019-03-23 10:34] dtinth commented on #89
ตอนนี้น่าค้นหาเขตเลือกตั้ง สามารถค้นหาด้วยชื่อจังหวัดได้แล้ว แต่ยังค้นหาด้วยรหัสไปรษณีย์ไม่ได้

เรามีข้อมูล Map จากรหัสไปรษณีย์ไปยังเขตการเลือกตั้งต่างๆ

https://github.com/codeforthailand/dataset-election-62-candidates/blob/master/election62/statics/postcode-to-zones.json

แต่ไฟล์ข้อมูลนี้ยังไม่มี provinceId

[2019-03-23 10:46] unnawut commented on #104
I'm trying out this issue. Will report back in 1-2 hours.

[2019-03-23 11:02] unnawut commented on #104
Question: I looked at #22 and I suppose this filter should be derived the same way, so...

1. The information should be derived from https://www.ect.go.th/ect_th/ewt_dl_link.php?nid=2236 ?
2. The link above contains only the results separated by constituency seats and party list seats. Should I use either of them or combined?

Thanks!

[2019-03-23 11:03] unnawut commented on #104
Question: I looked at #22 and I suppose this filter should be derived the same way, so...

1. The information should be derived from https://www.ect.go.th/ect_th/ewt_dl_link.php?nid=2236 ?
2. The link above contains only the results separated by constituency seats and party list seats. Should I use either of them or combined?
3. I guess there's already machine-readable data somewhere? 😅

Thanks!

[2019-03-23 11:04] 0pdd opened #112 "ZoneCandidateList Bug: Calculate goodVotes based on `data.candidates` instead of zoneStats.goodVotes. Problem: To reproduce, time travel to 20190323040304 and open a zone. You can see that I..."
The puzzle `1-4fde1041` from #1 has to be resolved:

https://github.com/codeforthailand/election-live/blob/a7189296fd8dc223324bb2f32ccc27a7638f57d8/src/pages/index.js#L289-L294

The puzzle was created by Thai Pangsakulyanont on 23-Mar-19.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when the problem is fixed and the text of the puzzle is

[2019-03-23 11:04] 0pdd commented on #1
@dtinth 25 puzzles [#100](https://github.com/codeforthailand/election-live/issues/100), [#101](https://github.com/codeforthailand/election-live/issues/101), [#102](https://github.com/codeforthailand/election-live/issues/102), [#103](https://github.com/codeforthailand/election-live/issues/103), [#106](https://github.com/codeforthailand/election-live/issues/106), [#107](https://github.com/codefortha

[2019-03-23 11:07] 0pdd commented on #26
The puzzle `1-4ee38d3c` has disappeared from the source code, that's why I closed this issue.

[2019-03-23 11:07] #26 closed, assigned to nobody

[2019-03-23 11:07] 0pdd commented on #67
The puzzle `1-5f0fec55` has disappeared from the source code, that's why I closed this issue.

[2019-03-23 11:07] #67 closed, assigned to nobody

[2019-03-23 11:07] 0pdd commented on #1
@dtinth 23 puzzles [#100](https://github.com/codeforthailand/election-live/issues/100), [#101](https://github.com/codeforthailand/election-live/issues/101), [#102](https://github.com/codeforthailand/election-live/issues/102), [#103](https://github.com/codeforthailand/election-live/issues/103), [#106](https://github.com/codeforthailand/election-live/issues/106), [#107](https://github.com/codefortha

[2019-03-23 11:10] dtinth commented on #106
Design:

![image](https://user-images.githubusercontent.com/193136/54865340-b9412c00-4d96-11e9-8f7d-1a44ce747326.png)

- Use this GIF:
  ![count_live](https://user-images.githubusercontent.com/193136/54865343-bfcfa380-4d96-11e9-9392-8f2948af698a.gif)

- Logo already in source tree

[2019-03-23 11:10] #111 closed, assigned to nobody

[2019-03-23 11:10] 0pdd commented on #111
The puzzle `1-512bf393` has disappeared from the source code, that's why I closed this issue.

[2019-03-23 11:10] 0pdd commented on #1
@dtinth 22 puzzles [#100](https://github.com/codeforthailand/election-live/issues/100), [#101](https://github.com/codeforthailand/election-live/issues/101), [#102](https://github.com/codeforthailand/election-live/issues/102), [#103](https://github.com/codeforthailand/election-live/issues/103), [#106](https://github.com/codeforthailand/election-live/issues/106), [#107](https://github.com/codefortha

[2019-03-23 11:29] dtinth commented on #98
Data based on ETL team’s model:

- 20190323181506
- 20190323181606
- 20190323182204
- 20190323182505

[2019-03-23 11:30] dtinth commented on #98
(Closing this issue for housekeeping purposes)

[2019-03-23 11:30] #98 closed, assigned to nobody

[2019-03-23 11:39] dtinth commented on #101
From design:

ให้ถือเป็นผู้สมัครอีกคนนึงไปเลย (Re-use component CandidateStatsRow) ใช้ชื่อพรรคว่า “ไม่เลือกใคร” และซ่อนช่ือผู้สมัครและหมายเลขผู้สมัคร (maybe send `props.candidateNumber === 0` and use that to determine whether to show/hide)

[2019-03-23 11:43] 0pdd opened #114 "implement search and select with visualization of each party"
The puzzle `1-e7181c37` from #1 has to be resolved:

https://github.com/codeforthailand/election-live/blob/c414ed1dcd9170a713cfc7aa4496b25e9f695349/src/components/ZonePartyView.js#L35-L35

The puzzle was created by Pankamol Srikaew on 23-Mar-19.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when the problem is fixed and the text of the pu

[2019-03-23 11:43] 0pdd opened #115 "search party: implement onChange"
The puzzle `1-d1c6a30c` from #1 has to be resolved:

https://github.com/codeforthailand/election-live/blob/c414ed1dcd9170a713cfc7aa4496b25e9f695349/src/components/ZonePartyView.js#L62-L62

The puzzle was created by Pankamol Srikaew on 23-Mar-19.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when the problem is fixed and the text of the pu

[2019-03-23 11:43] 0pdd opened #116 "visualize data in country map when select a party"
The puzzle `1-05b74acd` from #1 has to be resolved:

https://github.com/codeforthailand/election-live/blob/c414ed1dcd9170a713cfc7aa4496b25e9f695349/src/components/ZonePartyView.js#L91-L91

The puzzle was created by Pankamol Srikaew on 23-Mar-19.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when the problem is fixed and the text of the pu

[2019-03-23 11:44] 0pdd opened #117 "show each party vote result"
The puzzle `1-edaaced4` from #1 has to be resolved:

https://github.com/codeforthailand/election-live/blob/c414ed1dcd9170a713cfc7aa4496b25e9f695349/src/components/ZonePartyView.js#L126-L126

The puzzle was created by Pankamol Srikaew on 23-Mar-19.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when the problem is fixed and the text of the

[2019-03-23 11:44] 0pdd commented on #1
@dtinth 26 puzzles [#100](https://github.com/codeforthailand/election-live/issues/100), [#101](https://github.com/codeforthailand/election-live/issues/101), [#102](https://github.com/codeforthailand/election-live/issues/102), [#103](https://github.com/codeforthailand/election-live/issues/103), [#106](https://github.com/codeforthailand/election-live/issues/106), [#107](https://github.com/codefortha

[2019-03-23 11:56] wiput1999 commented on #89
อยากลองทำครับ~

[2019-03-23 13:25] dtinth commented on #89
@wiput1999 Please do, and please keep me updated, thanks krub!

[2019-03-23 13:26] #107 closed, assigned to nobody

[2019-03-23 13:26] 0pdd commented on #107
The puzzle `1-50f189f4` has disappeared from the source code, that's why I closed this issue.

[2019-03-23 13:26] 0pdd commented on #1
@dtinth 25 puzzles [#100](https://github.com/codeforthailand/election-live/issues/100), [#101](https://github.com/codeforthailand/election-live/issues/101), [#102](https://github.com/codeforthailand/election-live/issues/102), [#103](https://github.com/codeforthailand/election-live/issues/103), [#106](https://github.com/codeforthailand/election-live/issues/106), [#109](https://github.com/codefortha

[2019-03-23 13:36] parnurzeal commented on #112
I will take this one.

[2019-03-23 13:36] parnurzeal commented on #101
I will take this one.

[2019-03-23 14:07] #117 closed, assigned to nobody

[2019-03-23 14:07] 0pdd commented on #117
The puzzle `1-edaaced4` has disappeared from the source code, that's why I closed this issue.

[2019-03-23 14:07] 0pdd opened #120 "Party View - binding data to ZonePartyMemberVoteResult"
The puzzle `1-50f0f6bf` from #1 has to be resolved:

https://github.com/codeforthailand/election-live/blob/3a201df7c72eccc4238f267408bd20aed30cb66d/src/components/PerPartyMemberVoteResult.js#L32-L32

The puzzle was created by Pankamol Srikaew on 23-Mar-19.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when the problem is fixed and the tex

[2019-03-23 14:07] 0pdd opened #122 "Party View - implement interactive tab"
The puzzle `1-c71f393e` from #1 has to be resolved:

https://github.com/codeforthailand/election-live/blob/3a201df7c72eccc4238f267408bd20aed30cb66d/src/components/PerPartyMemberVoteResult.js#L62-L62

The puzzle was created by Pankamol Srikaew on 23-Mar-19.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when the problem is fixed and the tex

[2019-03-23 14:07] 0pdd commented on #1
@dtinth 26 puzzles [#100](https://github.com/codeforthailand/election-live/issues/100), [#101](https://github.com/codeforthailand/election-live/issues/101), [#102](https://github.com/codeforthailand/election-live/issues/102), [#103](https://github.com/codeforthailand/election-live/issues/103), [#106](https://github.com/codeforthailand/election-live/issues/106), [#109](https://github.com/codefortha

[2019-03-23 14:09] iammarkps commented on #102
I'm currently working on this issue

[2019-03-23 14:22] whs commented on #115
Working on this

[2019-03-23 14:25] #109 closed, assigned to nobody

[2019-03-23 14:25] 0pdd commented on #109
The puzzle `1-190105c7` has disappeared from the source code, that's why I closed this issue.

[2019-03-23 14:25] 0pdd commented on #1
@dtinth 25 puzzles [#100](https://github.com/codeforthailand/election-live/issues/100), [#101](https://github.com/codeforthailand/election-live/issues/101), [#102](https://github.com/codeforthailand/election-live/issues/102), [#103](https://github.com/codeforthailand/election-live/issues/103), [#106](https://github.com/codeforthailand/election-live/issues/106), [#112](https://github.com/codefortha

[2019-03-23 14:42] #97 closed, assigned to nobody

[2019-03-23 14:42] 0pdd commented on #97
The puzzle `1-2cc36a26` has disappeared from the source code, that's why I closed this issue.

[2019-03-23 14:42] 0pdd commented on #1
@dtinth 24 puzzles [#100](https://github.com/codeforthailand/election-live/issues/100), [#101](https://github.com/codeforthailand/election-live/issues/101), [#102](https://github.com/codeforthailand/election-live/issues/102), [#103](https://github.com/codeforthailand/election-live/issues/103), [#106](https://github.com/codeforthailand/election-live/issues/106), [#112](https://github.com/codefortha

[2019-03-23 14:43] #115 closed, assigned to nobody

[2019-03-23 14:43] 0pdd commented on #115
The puzzle `1-d1c6a30c` has disappeared from the source code, that's why I closed this issue.

[2019-03-23 14:43] 0pdd commented on #1
@dtinth 23 puzzles [#100](https://github.com/codeforthailand/election-live/issues/100), [#101](https://github.com/codeforthailand/election-live/issues/101), [#102](https://github.com/codeforthailand/election-live/issues/102), [#103](https://github.com/codeforthailand/election-live/issues/103), [#106](https://github.com/codeforthailand/election-live/issues/106), [#112](https://github.com/codefortha

[2019-03-23 15:30] #106 closed, assigned to nobody

[2019-03-23 15:30] 0pdd commented on #1
@dtinth 22 puzzles [#100](https://github.com/codeforthailand/election-live/issues/100), [#101](https://github.com/codeforthailand/election-live/issues/101), [#102](https://github.com/codeforthailand/election-live/issues/102), [#103](https://github.com/codeforthailand/election-live/issues/103), [#112](https://github.com/codeforthailand/election-live/issues/112), [#114](https://github.com/codefortha

[2019-03-23 15:48] #101 closed, assigned to nobody

[2019-03-23 15:48] 0pdd commented on #101
The puzzle `1-77a0075b` has disappeared from the source code, that's why I closed this issue.

[2019-03-23 15:48] 0pdd commented on #1
@dtinth 21 puzzles [#100](https://github.com/codeforthailand/election-live/issues/100), [#102](https://github.com/codeforthailand/election-live/issues/102), [#103](https://github.com/codeforthailand/election-live/issues/103), [#112](https://github.com/codeforthailand/election-live/issues/112), [#114](https://github.com/codeforthailand/election-live/issues/114), [#116](https://github.com/codefortha

[2019-03-23 15:49] 0pdd commented on #112
The puzzle `1-4fde1041` has disappeared from the source code, that's why I closed this issue.

[2019-03-23 15:49] #112 closed, assigned to nobody

[2019-03-23 15:49] 0pdd commented on #1
@dtinth 20 puzzles [#100](https://github.com/codeforthailand/election-live/issues/100), [#102](https://github.com/codeforthailand/election-live/issues/102), [#103](https://github.com/codeforthailand/election-live/issues/103), [#114](https://github.com/codeforthailand/election-live/issues/114), [#116](https://github.com/codeforthailand/election-live/issues/116), [#120](https://github.com/codefortha

[2019-03-23 15:57] 0pdd commented on #99
The puzzle `1-e21b1648` has disappeared from the source code, that's why I closed this issue.

[2019-03-23 15:57] #99 closed, assigned to nobody

[2019-03-23 15:57] 0pdd commented on #100
The puzzle `1-72af4204` has disappeared from the source code, that's why I closed this issue.

[2019-03-23 15:57] #100 closed, assigned to nobody

[2019-03-23 15:57] 0pdd commented on #1
@dtinth 18 puzzles [#102](https://github.com/codeforthailand/election-live/issues/102), [#103](https://github.com/codeforthailand/election-live/issues/103), [#114](https://github.com/codeforthailand/election-live/issues/114), [#116](https://github.com/codeforthailand/election-live/issues/116), [#120](https://github.com/codeforthailand/election-live/issues/120), [#122](https://github.com/codefortha

[2019-03-23 16:07] #66 closed, assigned to nobody

[2019-03-23 16:07] 0pdd commented on #66
The puzzle `1-67a5e157` has disappeared from the source code, that's why I closed this issue.

[2019-03-23 16:07] 0pdd commented on #1
@dtinth 17 puzzles [#102](https://github.com/codeforthailand/election-live/issues/102), [#103](https://github.com/codeforthailand/election-live/issues/103), [#114](https://github.com/codeforthailand/election-live/issues/114), [#116](https://github.com/codeforthailand/election-live/issues/116), [#120](https://github.com/codeforthailand/election-live/issues/120), [#122](https://github.com/codefortha

[2019-03-23 16:24] 0pdd opened #131 "toggle open dropdown"
The puzzle `1-782da7ba` from #1 has to be resolved:

https://github.com/codeforthailand/election-live/blob/fb3dc331404336857404845bc76f9effb28e2458/src/components/PartyDropdown.js#L51-L51

The puzzle was created by Krittawat Suphankomut on 23-Mar-19.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when the problem is fixed and the text of t

[2019-03-23 16:24] 0pdd commented on #1
@dtinth 18 puzzles [#102](https://github.com/codeforthailand/election-live/issues/102), [#103](https://github.com/codeforthailand/election-live/issues/103), [#114](https://github.com/codeforthailand/election-live/issues/114), [#116](https://github.com/codeforthailand/election-live/issues/116), [#120](https://github.com/codeforthailand/election-live/issues/120), [#122](https://github.com/codefortha

[2019-03-23 16:27] rapee opened #132 "Implement filtering code by Province"
Add choice to filter by each province. UI is an example but you can also reuse search bar, which ever faster and easier.

<img width="635" alt="Screen Shot 2019-03-23 at 23 29 02" src="https://user-images.githubusercontent.com/924635/54868844-8d886b00-4dc3-11e9-8486-1f63a5134561.png">

[2019-03-23 16:28] dtinth opened #133 "Set Up E2E testing using Cypress"
To prevent last minute changes from breaking the whole app, we want to make sure tests are passing before going live.

Maybe can be as simple as

1. Loading the website (/dev)
2. Load up some data (maybe using time travel)
3. Assert that key elements appear on screen.

[2019-03-23 16:33] rapee opened #134 "Update zone tooltip for ElectionMap"
Before:

<img width="473" alt="Screen Shot 2019-03-23 at 23 31 36" src="https://user-images.githubusercontent.com/924635/54868878-ece67b00-4dc3-11e9-8327-363e486270f6.png">

After:

<img width="558" alt="Screen Shot 2019-03-23 at 23 31 42" src="https://user-images.githubusercontent.com/924635/54868880-ef48d500-4dc3-11e9-90da-65fe175c5eb4.png">

[2019-03-23 17:34] unnawut commented on #104
Looks like there's not enough information to derive this based on the [available fixtures](https://github.com/codeforthailand/election-live/tree/master/src/models/__fixtures__).

I'm backing down from this issue.

[2019-03-23 17:51] unnawut commented on #134
I'll take this one starting in the morning.

[2019-03-23 17:59] 0pdd commented on #131
The puzzle `1-782da7ba` has disappeared from the source code, that's why I closed this issue.

[2019-03-23 17:59] #131 closed, assigned to nobody

[2019-03-23 17:59] 0pdd commented on #1
@dtinth 17 puzzles [#102](https://github.com/codeforthailand/election-live/issues/102), [#103](https://github.com/codeforthailand/election-live/issues/103), [#114](https://github.com/codeforthailand/election-live/issues/114), [#116](https://github.com/codeforthailand/election-live/issues/116), [#120](https://github.com/codeforthailand/election-live/issues/120), [#122](https://github.com/codefortha

[2019-03-23 18:17] AimeTPGM commented on #122
done on https://github.com/codeforthailand/election-live/pull/137

[2019-03-23 18:17] #122 closed, assigned to nobody

[2019-03-23 18:19] 0pdd opened #138 "Party View - result panel - implement showing candidate's vote result when select tab"
The puzzle `1-e830b149` from #1 has to be resolved:

https://github.com/codeforthailand/election-live/blob/e8dd1f8d1a4a36001ee69d1b3a55570c9c0f6cfe/src/components/PerPartyMemberVoteResult.js#L83-L83

The puzzle was created by Pankamol Srikaew on 23-Mar-19.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when the problem is fixed and the tex

[2019-03-23 18:19] 0pdd commented on #1
@dtinth 17 puzzles [#102](https://github.com/codeforthailand/election-live/issues/102), [#103](https://github.com/codeforthailand/election-live/issues/103), [#114](https://github.com/codeforthailand/election-live/issues/114), [#116](https://github.com/codeforthailand/election-live/issues/116), [#120](https://github.com/codeforthailand/election-live/issues/120), [#138](https://github.com/codefortha

[2019-03-23 22:46] na399 commented on #134
I've managed to achieve this far, but I'm too knackered to continue.
Anyway, my pull request #143 may help save your time to progress further, @unnawut.

<img width="460" alt="Screenshot 2019-03-24 at 05 35 17" src="https://user-images.githubusercontent.com/13469652/54872444-bb3ad780-4df6-11e9-9632-cbb4564cc5ff.png">

All the best 😉

[2019-03-23 22:58] kristw commented on #134
I will take over na. Will merge #143 and take it from there.

[2019-03-23 23:28] kristw commented on #134
In master now

![image](https://user-images.githubusercontent.com/1659771/54872874-8728cd80-4d88-11e9-8c83-aad411b5547a.png)

[2019-03-23 23:28] kristw commented on #134
working on tooltip for partylist

[2019-03-23 23:38] kristw commented on #134
done

![image](https://user-images.githubusercontent.com/1659771/54872965-0cf94880-4d8a-11e9-8894-fa41b6cae3f7.png)

[2019-03-23 23:48] kristw commented on #134
Add legend to the top instead because on the side will conflict when zoom in

![image](https://user-images.githubusercontent.com/1659771/54873041-6dd55080-4d8b-11e9-95ef-a9c8e3905acb.png)

[2019-03-23 23:49] kristw commented on #134
Closing this issue as completed

[2019-03-23 23:49] #134 closed, assigned to kristw

[2019-03-24 00:08] rapee opened #144 "Disable map zoom on desktop"
Map works well on desktop size without zooming, so we want to reduce moving parts.

[2019-03-24 00:15] rapee commented on #18
Close due to ชนะถล่มทลาย and ชนะฉิวเฉียด has its own issue on #104, #105

[2019-03-24 00:15] #18 closed, assigned to nobody

[2019-03-24 00:48] rapee opened #145 "Next / previous zone in the same province"
Click on left/right arrows to navigate to nearby zone

<img width="354" alt="Screen Shot 2019-03-24 at 07 48 23" src="https://user-images.githubusercontent.com/924635/54873457-3b6a3880-4e09-11e9-8b35-54e0e459776e.png">

[2019-03-24 00:51] rapee opened #146 "Add area detail under zone number in ZoneView"
e.g. For Bangkok, zone 6
เขต จตุจักร เฉพาะ แขวง จตุจักร, จอมพล เขต พญาไท เขต ราชเทวี

<img width="354" alt="Screen Shot 2019-03-24 at 07 48 23 copy" src="https://user-images.githubusercontent.com/924635/54873475-9c920c00-4e09-11e9-9240-9c5641efed12.png">

[2019-03-24 00:54] rapee opened #147 "Tooltip for DesktopScoreBar"

[2019-03-24 00:56] rapee opened #148 "Change party colors"
Update only potential parties.

<img width="724" alt="Screen Shot 2019-03-24 at 07 54 44" src="https://user-images.githubusercontent.com/924635/54873506-293cca00-4e0a-11e9-9afa-9804de081234.png">

[2019-03-24 01:20] #96 closed, assigned to kristw

[2019-03-24 01:20] #116 closed, assigned to nobody

[2019-03-24 01:39] p16i opened #151 "Icons on map and tooltip not sync"
Currently, several election zones are displayed with circles. However, when we select one of those zones, a tooltip is displayed with rectangle. In this case, i think it should be circle as shown on the map

[2019-03-24 02:03] kristw commented on #144
done

[2019-03-24 02:03] #144 closed, assigned to kristw

[2019-03-24 03:45] p16i opened #154 "PartyDropdown's onSelect isn't working"
When select a party, the page should be changed to that party's page.

[2019-03-24 03:48] p16i opened #155 "Implement PartyTotalCouncilorGraph"
<img width="1285" alt="image" src="https://user-images.githubusercontent.com/1214890/54874654-3c5b9400-4e22-11e9-8c9d-e13748278977.png">

[2019-03-24 03:52] p16i commented on #102
Could you please also add an cover image?

Facebook Share Debugger: https://developers.facebook.com/tools/debug/sharing/?q=https%3A%2F%2Felect.thematter.co

Update: please use the image below

![cover (2)](https://user-images.githubusercontent.com/1214890/54874712-5649a680-4e23-11e9-978c-24e2b7e3692a.png)

[2019-03-24 03:58] Dmeowmixer commented on #148
This need to be done still? If so I can get it done

[2019-03-24 04:05] p16i opened #157 "PartyDropdown isn't displayed properly on desktop view."
Version: v1.0.0-beta.2

`/party` looks like:
<img width="1435" alt="image" src="https://user-images.githubusercontent.com/1214890/54874760-35ce1c00-4e24-11e9-9e52-efc9bdcf10fc.png">

However, according to the design it should look something like this:

<img width="1392" alt="image" src="https://user-images.githubusercontent.com/1214890/54874784-a70dcf00-4e24-11e9-8b75-b6b84c302223.png">

[2019-03-24 04:17] p16i commented on #148
It's been done here: https://github.com/codeforthailand/election-live/pull/150

@Dmeowmixer it would be great if you can verity the change.

[2019-03-24 04:17] whs commented on #103
I think this is done in https://github.com/codeforthailand/election-live/blob/d0b037fc7711882b66b8283bee265444ecc5f52d/src/components/MainLayout.js#L291 ?

[2019-03-24 04:20] p16i opened #158 "PartyDropdown's active state isn't correct"
version v1.0.0-beta.3:

<img width="1347" alt="image" src="https://user-images.githubusercontent.com/1214890/54874903-e1786b80-4e26-11e9-8168-33d80dbdd188.png">

The list of parties should be rendered over the stats component.

[2019-03-24 04:20] Dmeowmixer commented on #148
Sure I'll try to check it out tonight, let me know if there are any other issues I can help with.

[2019-03-24 04:23] p16i commented on #148
I'm afraid tonight might be too late. We're going to use this project tonight.

[2019-03-24 04:35] whs commented on #89
Map เขตเลือกตั้งกับรหัสไปรษณีย์ให้ใน #159 แล้วนะครับ @wiput1999

หรือถ้าจะ disown issue ผมจะลอง implement ที่เหลือให้ได้ครับ

[2019-03-24 04:38] p16i commented on #89
@whs @wiput1999 how would you plan to apply filter for postcode in `_zones.json`? I guess we would need to visit every zones and check each postcode.

Maybe we should consider create a mapping from postcode to zones. The lookup process will take O(1). We can also use regex to detect whether the user is searching by address or postcode.

[2019-03-24 04:55] unnawut commented on #157
I'm attempting this

[2019-03-24 04:56] p16i commented on #154
it was fixed by https://github.com/codeforthailand/election-live/pull/153

[2019-03-24 04:56] #154 closed, assigned to nobody

[2019-03-24 05:31] dtinth commented on #89
Let's give this issue to @whs

We used a fuzzy search library to filter for zone already... I think a lookup table may not be necessary, as search-by-postcode operation is not "hot" (meaning may be called inside a loop, like getPartyById).

[2019-03-24 05:42] whs commented on #89
Totally forgot to check my email.

I think the plan for now is to use regex to detect search type then a) if looks like postcode, then do postcode search only b) otherwise use fuse. Fuse implement sort by scoring, so it would be hard to implement a) merged into full text search result.

I believe we should do prefix matching which you can't lookup on table. If you want to optimize, go for trie whi

[2019-03-24 05:49] #158 closed, assigned to p16i

[2019-03-24 05:55] unnawut opened #163 "PartyDropdown defaults to the first party when unfocused"
When clicking outside the dropdown without selecting a party...

![image](https://user-images.githubusercontent.com/921194/54875544-ef80b900-4e33-11e9-94a4-6ee96fc1d98b.png)

Ideally should be a blank selection or show the dropdown's search box.

[2019-03-24 05:55] unnawut commented on #163
I'm taking this as part of my #157 fix.

[2019-03-24 06:00] #89 closed, assigned to nobody

[2019-03-24 06:09] #145 closed, assigned to nobody

[2019-03-24 06:09] #146 closed, assigned to nobody

[2019-03-24 06:11] z3niths commented on #40
Do you have a staging environment for the project?
Best scenario would be we run lighthouse using staging server URL after staging was deployed by CI.

Otherwise, we can run it using ci's local server (This still not guarantee about server environment).

[2019-03-24 06:22] #157 closed, assigned to nobody

[2019-03-24 06:22] #163 closed, assigned to nobody

[2019-03-24 06:31] #151 closed, assigned to nobody

[2019-03-24 06:43] unnawut commented on #120
I'm tackling this one

[2019-03-24 07:44] dtinth commented on #40
@z3niths Unfortunately, we don’t have it krub...

[2019-03-24 07:53] 0pdd opened #171 "implement estimated councoilor graph */}"
The puzzle `1-c662abcb` from #1 has to be resolved:

https://github.com/codeforthailand/election-live/blob/c7d17a532880bfbe1bcc1ed3551af0a51a11d155/src/components/PerPartySearchPanelContainer.js#L99-L99

The puzzle was created by Pattarawat Chormai on 24-Mar-19.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when the problem is fixed and t

[2019-03-24 07:53] 0pdd opened #172 "PartyView - PartyPresidentCandidateList - bind presiddent candidate data by party id"
The puzzle `1-aafb55e9` from #1 has to be resolved:

https://github.com/codeforthailand/election-live/blob/c7d17a532880bfbe1bcc1ed3551af0a51a11d155/src/components/PerPartySearchPanelContainer.js#L142-L142

The puzzle was created by Thai Pangsakulyanont on 24-Mar-19.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when the problem is fixed a

[2019-03-24 07:53] 0pdd opened #173 "add contributors"
The puzzle `1-2d5f6489` from #1 has to be resolved:

https://github.com/codeforthailand/election-live/blob/c7d17a532880bfbe1bcc1ed3551af0a51a11d155/src/pages/about.js#L56-L56

The puzzle was created by Thai Pangsakulyanont on 24-Mar-19.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when the problem is fixed and the text of the puzzle is _

[2019-03-24 07:53] 0pdd commented on #1
@dtinth 17 puzzles [#102](https://github.com/codeforthailand/election-live/issues/102), [#103](https://github.com/codeforthailand/election-live/issues/103), [#114](https://github.com/codeforthailand/election-live/issues/114), [#116](https://github.com/codeforthailand/election-live/issues/116), [#120](https://github.com/codeforthailand/election-live/issues/120), [#138](https://github.com/codefortha

[2019-03-24 07:54] whs commented on #104
I think this has to be implemented by filtering the live results?

Looking through src/models/ElectionDataSource.d.ts it seems that the only place where each candidate score is available is through PerProvinceJSON, which we can't use for filtering. There should be a server side filter to add this information to ZoneStats first

[2019-03-24 07:54] 0pdd commented on #1
@dtinth 16 puzzles [#102](https://github.com/codeforthailand/election-live/issues/102), [#103](https://github.com/codeforthailand/election-live/issues/103), [#114](https://github.com/codeforthailand/election-live/issues/114), [#120](https://github.com/codeforthailand/election-live/issues/120), [#138](https://github.com/codeforthailand/election-live/issues/138), [#171](https://github.com/codefortha

[2019-03-24 07:56] unnawut commented on #104
You are right. I believe @phoneee is working on it.

[2019-03-24 08:57] 0pdd opened #177 "This logic is now available in getSeatDisplayModel. Refactor this component to use it."
The puzzle `1-aac0edaf` from #1 has to be resolved:

https://github.com/codeforthailand/election-live/blob/87f29c453ec969020ee6efcdaa2083a902d4929b/src/components/ElectionMapContainer.js#L56-L56

The puzzle was created by Thai Pangsakulyanont on 24-Mar-19.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when the problem is fixed and the tex

[2019-03-24 08:57] 0pdd commented on #1
@dtinth 17 puzzles [#102](https://github.com/codeforthailand/election-live/issues/102), [#103](https://github.com/codeforthailand/election-live/issues/103), [#114](https://github.com/codeforthailand/election-live/issues/114), [#120](https://github.com/codeforthailand/election-live/issues/120), [#138](https://github.com/codeforthailand/election-live/issues/138), [#171](https://github.com/codefortha

[2019-03-24 09:14] #120 closed, assigned to nobody

[2019-03-24 09:14] #138 closed, assigned to nobody

[2019-03-24 09:14] 0pdd commented on #138
The puzzle `1-e830b149` has disappeared from the source code, that's why I closed this issue.

[2019-03-24 09:14] 0pdd opened #180 "Party View - display winning party-list candidates"
The puzzle `1-86cabcc8` from #1 has to be resolved:

https://github.com/codeforthailand/election-live/blob/e82eda2f80c462f4b94ca3681467e698520dff76/src/components/PerPartyMemberVoteResult.js#L161-L161

The puzzle was created by Unnawut Leepaisalsuwanna on 24-Mar-19.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when the problem is fixed a

[2019-03-24 09:15] 0pdd commented on #1
@dtinth 16 puzzles [#102](https://github.com/codeforthailand/election-live/issues/102), [#103](https://github.com/codeforthailand/election-live/issues/103), [#114](https://github.com/codeforthailand/election-live/issues/114), [#171](https://github.com/codeforthailand/election-live/issues/171), [#172](https://github.com/codeforthailand/election-live/issues/172), [#173](https://github.com/codefortha

[2019-03-24 11:00] p16i commented on #173
done for now.

[2019-03-24 11:00] #173 closed, assigned to nobody

[2019-03-24 11:01] p16i opened #186 "Map: Party list blocks look strange"
<img width="1283" alt="Screenshot 2019-03-24 17 59 50" src="https://user-images.githubusercontent.com/1214890/54878399-d04b5100-4e5e-11e9-9a69-6ed145c85b93.png">

[2019-03-24 11:14] na399 commented on #186
There seem to be typos in src/models/information/_map.json, fixed in #188.

[2019-03-24 11:16] #102 closed, assigned to nobody

[2019-03-24 11:16] 0pdd commented on #102
The puzzle `1-a35fbb61` has disappeared from the source code, that's why I closed this issue.

[2019-03-24 11:16] 0pdd commented on #1
@dtinth 15 puzzles [#103](https://github.com/codeforthailand/election-live/issues/103), [#114](https://github.com/codeforthailand/election-live/issues/114), [#171](https://github.com/codeforthailand/election-live/issues/171), [#172](https://github.com/codeforthailand/election-live/issues/172), [#173](https://github.com/codeforthailand/election-live/issues/173), [#177](https://github.com/codefortha

[2019-03-24 11:40] dodadoa commented on #186
done

[2019-03-24 11:40] #186 closed, assigned to nobody

[2019-03-24 11:42] #147 closed, assigned to rapee

[2019-03-24 12:00] paonets opened #193 "Add dropdown arrow to area selection on the top (mobile view)"
To indicate that it is clickable

[2019-03-24 12:03] dtinth commented on #193
![image](https://user-images.githubusercontent.com/193136/54879083-86b33400-4e67-11e9-9b96-9d4eb5814ff8.png)

[2019-03-24 12:21] MicroBenz commented on #193
I will do this issue krub. :D

[2019-03-24 12:32] MicroBenz opened #195 "Cherry pick lodash to decrease bundle size?"
I've seen that this project is using lodash. Maybe it will better to use lodash with "cherry pick" import to reduce the bundle size.

For example instead of using
[code]

Use this instead

[code]

[2019-03-24 12:47] MicroBenz commented on #193
PR is ready #194

[2019-03-24 13:28] p16i opened #200 "Mobile: Counting label overlaps ScoreBar's bullets"
<img width="559" alt="image" src="https://user-images.githubusercontent.com/1214890/54880071-4bb6fd80-4e73-11e9-9ab1-8647a47296d1.png">

[2019-03-24 13:30] #193 closed, assigned to nobody

[2019-03-24 13:36] AimeTPGM commented on #172
done in #199
will open new puzzle for showing candidates photo

[2019-03-24 13:36] #172 closed, assigned to nobody

[2019-03-24 13:44] MicroBenz opened #202 "Add "เขตที่นับคะแนนเสร็จแล้ว" to the filter options"
I've seen that some area has finished counting. Maybe we can add this filter?

![image](https://user-images.githubusercontent.com/9103800/54880268-81f57c80-4e75-11e9-8654-775af0295ab6.png)

[2019-03-24 14:15] kristw commented on #195
Can also use `import { random } from 'lodash'` and use `babel-plugin-lodash`

[2019-03-24 15:18] rapee opened #212 "Show a list of parties in NCPO vs non-NCPO vs others in tooltip of DesktopScoreBar"
Can you also add list of parties supporting each faction? @whs.

By adding `bundle` key, tooltip will show a list of parties.

[code]

[2019-03-24 15:21] whs commented on #212
Working on this

[2019-03-24 15:33] #212 closed, assigned to nobody

[2019-03-24 15:44] xvista opened #214 "Incorrect party-list MP rankings"
As the picture is shown below, the ranking of party-list MPs is incorrect. For example, the first MP for Future Forward Party must show as 1st, not 58th.
<img width="314" alt="Screen Shot 2562-03-24 at 22 29 21" src="https://user-images.githubusercontent.com/4073078/54881746-ac4f3600-4e85-11e9-938e-73c83cefa2ea.png">

[2019-03-24 16:05] #180 closed, assigned to nobody

[2019-03-24 16:08] dodadoa commented on #200
closed

[2019-03-24 16:08] #200 closed, assigned to dodadoa

[2019-03-24 16:16] p16i commented on #214
I think 58th is the ranking of total MPs. Maybe we should change the way we write the description

[2019-03-24 16:19] xvista commented on #214
I don't know what is the intention of this chart. But I agree with you, the current one is ambiguous.

[2019-03-24 18:30] #132 closed, assigned to nobody

[2019-03-25 03:23] MicroBenz commented on #195
Yesterday, I tried to add `gatsby-lodash-plugin` main problem is they don't allow us to use `_.chain`. So we need to change it to `_.compose` instead.

[2019-03-25 03:37] itpcc opened #222 "Election map size on the low-resolution desktop"
I'm trouble using map view on the laptop computer which using screen resolution at 1440x900 pixels.

Since the map zooming feature is disabled on the desktop (See #144 ), I can't (or hard to precisely click) select the election result from the area that I interest. (Although I can slide from the popup's carousel, it's very slow to select to the area that I want. )

In my opinion, because the site

[2019-03-25 06:19] itpcc opened #223 "No indication show when using filter by province"
![image](https://user-images.githubusercontent.com/3356814/54898820-3936d580-4f00-11e9-9241-07417a1e3c21.png)

When I use filter by province and enter province name, there's no indication that I type incorrectly.

Should we add some kind of the alert or province's name "autocomplete" to choose?

[2019-03-25 07:13] p16i commented on #222
We would be really appreciate if you could make a PR for tackling this problem.

[2019-03-25 10:01] itpcc commented on #222
Please see PR #226

[2019-03-25 16:19] kristw commented on #195
Use `flow` instead of `_.chain` krub and other functions from `lodash/fp` instead of `lodash`.

[2019-03-25 18:58] unnawut opened #229 "Translate README content into Thai"
The content in README is reallyyyyyy valuable. We should translate into Thai.

Feel free to take this issue and we can pick to do section by section.

[2019-03-25 19:14] p16i commented on #229
IMHO, it would be good if we could have this section in Thai first.

https://github.com/codeforthailand/election-live#how-we-handled-100000-active-users-on-a-single-10mo-server

We can announce the time machine feature and link to this section, saying why we store and have this historical data.

[2019-03-26 07:04] sorawee opened #232 "Prevent users from deactivating the time machine panel inadvertently"
When the first (or the last) entry in the time machine panel is focused, hitting the left (or right) key will deactivate the panel. Not only is this unintuitive, but it also makes navigation by holding the left or right key difficult in a sense that users need to be careful not hitting the edge, or else the panel will be closed.

[2019-03-26 07:24] dtinth commented on #232
Thanks for sending the issue. Busy right now, would you like to submit a PR? ;)

[2019-03-26 08:31] p16i commented on #232
Probably because of this line: https://github.com/codeforthailand/election-live/blob/master/src/components/TimeMachine.js#L38
[code]
Adding a condition for `browsingIndex` should be sufficient to solve the problem.

[2019-03-26 08:34] p16i opened #234 "Test Slackbot"

[2019-03-26 08:34] #234 closed, assigned to nobody

[2019-03-26 09:13] sorawee commented on #232
Sure, will submit a PR.

IMO, a better place to change is https://github.com/codeforthailand/election-live/blob/master/src/components/TimeMachine.js#L54

[2019-03-26 09:46] p16i commented on #223
maybe we can use CSS to style the input box when such cases happen.

[2019-03-26 10:04] #232 closed, assigned to nobody

[2019-03-26 10:05] p16i opened #237 "TimeMachine bug when selecting the last time step and pressing a right"
It seems there is a bug when the last time step is selected. If you press a right arrow again, the latest file is used and non of time steps is highlighted.

This happens because dirs actually contains the latest file that isn't used in the timeline. Personally, this should be fixed in a separate issue.

[2019-03-26 10:12] itpcc commented on #223
Like this?
![image](https://user-images.githubusercontent.com/3356814/54989029-462ff380-4fea-11e9-8b73-3b58c3c94255.png)

[2019-03-26 11:50] dtinth opened #238 "Left side of PerPartyPage needs more margin-left when window width is 1024px"
![Image from iOS](https://user-images.githubusercontent.com/193136/54994890-f6582900-4ff7-11e9-8070-59fff656725b.png)

[2019-03-26 19:49] sorawee opened #240 "Make it possible to stop tab switching, especially when time machine is activated"
https://github.com/codeforthailand/election-live/blob/2db1fb734d60dd667684e7094c6dceef8f61f27a/src/components/DesktopScoreBarContainer.js#L174

changes the tab every 10 seconds. This however makes a bad user experience if users want to focus on changes in a tab in the time machine mode.

[2019-03-27 08:34] rapee opened #244 "Show all faces for NCPO / anti-NCPO / Undefined faction on global score bar"
# What To Do

- On desktop, show all faces of each party leader (PM candidate) in a faction.
- On mobile, show only the first face in a faction.

[2019-03-27 15:10] p16i opened #245 "Indicators for periods that abnormal counting activities occur."
Currently, we have a feature that allows users to browse counting results at a particular period. However, the timeline bar doesn't provide any clue when abnormal counting events occur.

As a user, I would like to see indicators for periods that such abnormal activities happen. For example, we could display the box of those periods differently.

<img width="1218" alt="image" src="https://user-imag

[2019-03-28 15:59] ghost opened #247 "VoteCount progress indicator doesn't show correct value when using in TimeMachine mode."
E.g. in the TimeMachine mode, it shows me 64% on the latest timeslot.. it should have been 95% (or 100% already today) isn't it??

นับคะแนนแล้ว
64%
อัพเดตเมื่อ 16:56

[2019-03-29 05:45] p16i commented on #247
Thanks for reporting. I think this is because we use only data files from 24/03/2019.

@dtinth what was the reason that we didn't include recent data files into the time machine?

[2019-03-29 20:37] chameleonTK opened #248 "Open data"
Is it possible to make the data public?

[2019-03-31 12:23] p16i commented on #248
@chameleonTK some datasets are already public.
Could you please tell me a bit more about what kind of data you want to have?
Maybe I can point o you to relevant repos.

[2019-03-31 12:40] chameleonTK commented on #248
For example, dataset about how many voter for each region and how it changes though time.

[2019-06-29 11:38] p16i opened #249 "ELECT Meetup"
Hi,

ELECT team is going to have a meetup on Friday July 5, at [Boonmee Lab][bml]. If you're available, please come and join us. Please also inform us on our [Facebook event][fb], so we can make sure that we have enough food and drink for everyone.

@kristw @AimeTPGM @NesChaiyapon @dodadoa @whs @gminemini @Woracheth @MicroBenz @wsomno @sorawee @parnurzeal @koobitor @iboss-ptk @phoomparin @narze @m

[2019-07-01 13:11] #249 closed, assigned to nobody